[2018-02-28 19:53] XeonG opened #1 "I like this extension..."
Do you think you could improve it so that if you are working with other languages.. and frameworks it can be setup for similar shortcuts..  visual studio support would be nice

ie Unity using c#//
int x = 555
Debug.Log("x:"+x):

[2018-03-02 11:29] Chakroun-Anas commented on #1
Hello,

No matter what the language is, the concepts of class, function and variable remains the same so I agree with you that the extension should cover not just JS but also other languages. However JS was just the start and  i'm indeed planning to support other languages.

Thank you very much for your suggestion.

[2018-03-08 09:48] Chakroun-Anas commented on #1
Hello, sorry for the delay,

Supporting visual studio is in my plans too, first i'm going to take care of other languages in visual studio code and then the support for visual studio will come.

Thank very much @XeonG for your feedback and sorry again for the delay.

[2018-03-13 12:48] thearabbit opened #2 "Cmd + alt + l on a MAC don't work for me"
`Cmd + alt + l` on a MAC don't work for me.
I tried `Cmd + shift + l` it work, but override of multiple select of VS code

[2018-03-13 20:24] fabiospampinato opened #3 "Cmd+D shouldn't be enforced"
By default `cmd+d` maps to `editor.action.addSelectionToNextFindMatch`, which is something I, and probably many others, use pretty frequently.

I had to put:

`{ "key": "cmd+d", "command": "-extension.deleteAllLogMessages" }`

in my `keybindings.json` in order to remove this.

I don't think this shortcut should be provided by default.

[2018-03-13 20:30] fabiospampinato opened #4 "Forgot to change the namespace of the commands"
This extension provides 2 commands, `extension.displayLogMessage` and `extension.deleteAllLogMessages`.

You shouldn't prefix those commands with `extension`, the prefix should be `turboConsoleLog` or something like that.

Basically `extension.displayLogMessage` should be renamed to `turboConsoleLog.displayLogMessage`.

[2018-03-13 20:35] fabiospampinato opened #5 "Commands contributed to the command palette should be prefixed with the extension name"
You should rename the provided commands:

[code]

Other than this being a common practice, I couldn't find those commands in the command palette because I was searching for "Turbo" or "Console"

[2018-03-13 20:43] fabiospampinato opened #6 "Only the `console.log` calls inserted by this extension should be removed"
If I execute `Delete All Log Messages` on this file:

[code]

It gets transformed to:

[code]

While it should instead become:

[code]

Basically only the `console.log` calls inserted by this extension should be removed.

One way of doing this would be to prefix all the strings with '[TS]', or something, and then check if that string is present. This would be pretty ugly though. A smarter way, tha

[2018-03-13 22:42] fabiospampinato opened #7 "Looking for a contributor?"
I'm probably going to keep this extension installed, but it's currently not exactly how I'd like it to be, for instance see my issues: https://github.com/Chakroun-Anas/turbo-console-log/issues/3 https://github.com/Chakroun-Anas/turbo-console-log/issues/4 https://github.com/Chakroun-Anas/turbo-console-log/issues/5 https://github.com/Chakroun-Anas/turbo-console-log/issues/6.

I can submit a few PRs

[2018-03-14 11:59] Chakroun-Anas commented on #2
Hello,

I'm sorry i just forgot to update the README file, the right command is ctrl + shift + l in windows/linux or cmd + shift + l on a MAC as you mentioned.

The README file is updated.

Thx.

[2018-03-14 12:10] Chakroun-Anas commented on #3
Hello,

I agree with you, the command key will change to cmd + alt + d to avoid the conflict.

I will apply this changes a few hours from now.

Thank you very much.

[2018-03-14 12:12] Chakroun-Anas commented on #4
Hello,

I agree with you, i just forgot to do that :P

I will apply this change a few hours from now.

Thx.

[2018-03-14 12:13] Chakroun-Anas commented on #5
Hello,

Again you got me :P, i will apply this change a few hours from now.

Thx.

[2018-03-14 12:16] Chakroun-Anas commented on #6
Hello,

This is a really interesting feature, i ensure you that it will be taken in account.

Thx.

[2018-03-14 12:27] Chakroun-Anas commented on #7
Hello,

The issues #3 and #4 and #5 are pretty simple to fix, however the feature mentioned in #6 needs a little bit of work.

After few hours from now i will consacre two hours to work into the project and i think they will be enough to fix all these issues.

Thank you very much @fabiospampinato i really appreciate your collaboration.

[2018-03-14 12:29] fabiospampinato commented on #7
No problem, thank you for this extension :)

[2018-03-14 12:29] #7 closed

[2018-03-14 13:05] thearabbit commented on #2
Thanks for your reply, but `cmd+shift+l` is duplicate with

![image](https://user-images.githubusercontent.com/4495160/37403940-f4dd7e6c-27c2-11e8-855b-51511dd35d94.png)

[2018-03-14 17:05] Chakroun-Anas commented on #2
Hello,

I made a huge change, the command to insert a log message is ctrl + alt + l either on windows/linux or a mac.

Thx

[2018-03-14 17:07] Chakroun-Anas commented on #3
The command to delete log messages is changed to: Ctrl + Alt + d on all platforms: linux, windows and mac.

[2018-03-14 17:07] Chakroun-Anas commented on #4
The namespace is changed from extension which is the default one to turboConsoleLog.

Thx.

[2018-03-14 17:08] Chakroun-Anas commented on #5
The requested change is applied.

Thx.

[2018-03-14 17:09] #4 closed

[2018-03-14 17:09] #3 closed

[2018-03-14 17:10] #5 closed

[2018-03-14 17:14] Chakroun-Anas commented on #6
The requested feature is implemented, all the features will be applied to just the log messages that was inserted by the extension, including: deleting, commenting and uncommenting.

Thx.

[2018-03-14 17:19] #6 closed

[2018-03-15 12:12] fabiospampinato opened #10 "Arrow functions support"
This extension should support arrow functions too.

Currently the following code:

<img width="206" alt="screen shot 2018-03-15 at 13 06 38" src="https://user-images.githubusercontent.com/1812093/37462418-2579474c-2852-11e8-94cb-7915bfb4cc09.png">

Gets transformed to:

<img width="229" alt="screen shot 2018-03-15 at 13 06 59" src="https://user-images.githubusercontent.com/1812093/37462419-2595d14

[2018-03-15 12:40] fabiospampinato opened #11 "Custom `console.log` snippet"
It would be nice if this extension had support for a custom `console.log` snippet, for instance this extension might currently produce the following:

[code]

Some people might like it written in a different style, like:

[code]

Support for this might be added in the form of a `template` setting, where custom tokens gets substituted in, for instance the default template might be:

[code]

So that

[2018-03-15 21:33] Chakroun-Anas commented on #11
Hello,

The customisation in term of style is interesting and  when it comes to content it's even more interesting, i think this feature is definitely a must in the extension.

I will work on it in the weekend,  so basically if everything goes fine it will be implemented by next Monday.

Thank you very much, i really appreciate your elegant suggestions.

[2018-03-15 21:39] Chakroun-Anas commented on #2
For the moment (v1.2.5) The right way to insert the log message is to select the variable and then press ctrl + alt + l in all the platforms: windows, linux and mac.

This issue will be closed.

Thx.

[2018-03-15 21:40] #2 closed

[2018-03-15 23:03] fabiospampinato commented on #11
I'm glad you like them! And thank you for being very reactive in implementing all this 😄

I see a few problems with my proposal though:

1. If there's no wrapper the template will become `console.log ( ' → foo', foo )`.
   - Maybe if there's no wrapper the extension could provide one anyway, something like `global` maybe, in order to have `console.log ( 'global → foo', foo )`
   - Or maybe there c

[2018-03-16 00:35] thearabbit commented on #2
👍

[2018-03-16 12:54] fabiospampinato opened #12 "Multiple declarations support"
Currently this:

<img width="463" alt="screen shot 2018-03-16 at 13 47 56" src="https://user-images.githubusercontent.com/1812093/37521418-f36e7694-2920-11e8-9f34-f5f16c42c75d.png">

Gets transformed to this:

<img width="412" alt="screen shot 2018-03-16 at 13 48 06" src="https://user-images.githubusercontent.com/1812093/37521384-d0a542b4-2920-11e8-8839-0cb9ae71e120.png">

It would be nice if this

[2018-03-17 02:05] thearabbit opened #13 "Should don't use new line when don't any variable select?"
Don't select any var (my cursor in line: `287`)

![image](https://user-images.githubusercontent.com/4495160/37550569-0f5c7f76-29c2-11e8-81c2-6aa6292d1365.png)

Then: `ctl + alt + l`, it create `log msg` on line: `288`
I thinks that should be line `287`

![image](https://user-images.githubusercontent.com/4495160/37550561-fb07e4b6-29c1-11e8-880d-8c1d2930456a.png)

[2018-04-05 15:04] IceSentry opened #14 "Smarter logging"
I personnally use vscode and your extension seems to be the best for what it does.

On atom there is this extension https://github.com/vishysank/console-log-atom

It features smarter logging, like for example if you try to log a condition it will log the condition and also log a message when the condition passes. It also JSON.stringify() when logging objects. There are other features just look at

[2018-05-28 19:26] jnouza commented on #14
JSON.stringify() would be very helpfull.

[2018-05-31 07:01] igauravsehrawat commented on #1
I like this extension too. ❣️

[2018-06-01 13:27] igauravsehrawat opened #15 "Way to change default key binding."
I can take up this issue.

[2018-07-08 14:50] Chakroun-Anas commented on #14
Hello,

I think this is a very interesting feature and its absolutely doable.

I will implement them one by one and update this thread once done.

Thank you very much for your feedback.

[2018-07-08 15:31] Chakroun-Anas commented on #14
Hello,

First thank you very much for you feedback.

For objects logging, i think it would be very useful to have the possibility of wrapping them in JSON.stringify() when desired.

For function logging, currently when you select a variable within a function (It can be one of its parameters or just inside its block), and hit ctrl + alt + l, you get automatically the function name in the generated

[2018-07-31 08:37] oleg-koval commented on #14
Would be really helpful to have this feature 👍

[2018-08-03 06:23] jon301 opened #17 "Prettier autoformat breaks TurboConsoleLog"
Hi

I noticed that sometimes, if the `console.log` statement is very long then Prettier autoformats the statement in multiple lines
It looks like TurboConsoleLog is not able to track those `console.log` anymore, meaning that Comment All | Uncomment All | Delete All comments does not affect those `console.log` formatted by Prettier.

A workaround would be to able to define a custom prefix for each

[2018-08-04 15:22] kocsis1david opened #18 "Multicursor support"
When there are multiple cursors, a console log could be inserted for each variable.

[2018-08-17 11:37] leotm commented on #2
Just to clarify on Mac as I at first misread l as 'i' and was trying command...
`ctrl + alt/option + l` works.

[2018-08-28 18:05] Chakroun-Anas commented on #17
Hello,

Thank you very much for bringing up this issue;

The log messages were inserted each with a transparent character to mark them for  commenting, uncommenting and deleting;

Apparently prettier remove the transparent characters while formatting the files, so in order to solve the issue once for all i decided to change the log message format to the following:

console.log('TCL: SelectedVariab

[2018-08-28 20:15] geddski opened #19 "custom prefix"
cool extension! The only part I don't love is the `TCL: ` prefix. I'd prefer to change mine to `-` or something less distracting. Could you make the prefix accept a user setting?

[2018-08-29 16:13] Chakroun-Anas commented on #19
Hello,

I agree with you, it will be better to have the possibility to change the prefix.

I will work on that very soon.

Thx.

[2018-08-29 21:08] geddski commented on #19
sweet!

[2018-08-30 00:41] Chakroun-Anas commented on #19
Hello,

You can now determine your own prefix by changing logMessagePrefix in settings.json.

Enjoy.

[2018-08-30 05:00] geddski commented on #19
works like a charm, thank you!

[2018-08-30 05:00] #19 closed

[2018-09-05 20:28] jon301 commented on #17
Hi @Chakroun-Anas,

Thanks for the update, still it does not seem to fix the issue :/

Given this code :
[code]

When I save it, prettier re-formats it to :
[code]

Then after that, TurboConsoleLog does not recognize this log anymore thus it's not possible to comment/uncomment or delete via the extension.

[2018-09-06 08:40] NextZeus opened #20 "Ctr + Alt + I is Wrong on Mac"
Ctr + option(Alt)  + L is correct. not I , but L.

[2018-09-10 12:36] seedgabo commented on #1
it is possible support coffeescript language?

[2018-09-16 03:52] Chakroun-Anas commented on #17
Hello,

Thank you for your feedback, this is really a big deal so i promise that i will work on it soon.

[2018-10-03 09:47] Julien76 opened #21 "Option to remove semicolon"
Hi,

I'm using your extension and I love it.

Would it be possible to have an option to enable/disable semicolon at the end of the console log?
When using with prettier, it always return a warning.

Thanks

[2018-10-18 15:57] MrLeo opened #22 "How to generate the log without async in ES6 Object method"
[code]
How to generate the log without async？

[2018-11-09 11:03] MarcoGomesr opened #23 "ability to add colors"
I like this plugins but something that would be really helpful would be the ability to customise colors

could it be something like this

`console.log("%cTCL: onPage -> id " + "%c" + id, 'color:blue', 'color:red');`
![screen shot 2018-11-09 at 11 00 43](https://user-images.githubusercontent.com/1093768/48259087-d6d8af00-e40e-11e8-971d-c8afdbb31ab1.png)

[2018-11-11 01:13] Chakroun-Anas commented on #17
Hello,

I have just published an update that ensure the compatibilty with prettier.

Please check again so that we can close this issue.

[2018-11-11 01:14] Chakroun-Anas commented on #20
Hello,

Both ctrl+alt+l and ctrl+alt+L are working !

[2018-11-11 01:16] Chakroun-Anas commented on #22
Hello,

Thank you for posting the issue, I have just published an update that fix it, would please try again and give me your feedback so that we can close this it.

[2018-11-11 01:17] Chakroun-Anas commented on #21
Hello,

I have just published an update that give you the ability to insert or not a semicolon in the end of the log message.

All you need to do is to toggle addSemicolonInTheEnd property in settings.json.

[2018-11-15 12:57] yuwanlin opened #24 "how could I change log style"
turbo-console-log is awesome!
when I log, the content is always wrapped by double quote. How could I change it to single quote? in setting.json? I can't find some configuration.

[2018-11-19 04:01] #20 closed

[2018-11-19 04:43] tuannm93 opened #25 "Notworking on file .ts (angular 2+)"
I selected text, using ctrl + alt + l but it does not work. Can you help me with this?

Thank you everyone.

[2018-11-19 15:34] Julien76 commented on #21
Hi,
thanks for this.

[2018-11-19 15:34] #21 closed

[2018-11-19 15:46] Julien76 opened #26 "VUE files error: Irregular whitespace not allowed"
Hi,

Since last update (1.2.11) it does not work with vue file:

I am getting the following error:
```http://eslint.org/docs/rules/no-irregular-whitespace  Irregular whitespace not allowed  ```

for a console.log as follow:
```console.log("​save -> this.close()", this.close())```

Deleting the *save* (the first word in that instance, remove the error). The workaround seems a bit random. But the is

[2018-11-20 06:40] Chakroun-Anas commented on #26
Hello,

In order to distinguish the log messages inserted by the extension, the zero-width space (\u200b) is inserted in the beginning of each one of them.

So in your example the zero-width space is inserted just before the word save, hence the reason the problem is gone when you deleted the whole word tho only the character before s is causing the problem.

I will check further and get back to y

[2018-11-20 06:42] Chakroun-Anas commented on #25
Hello,

I have just tested the extension on a ts file in an angular application and it worked.

Can you please give more details.

Thx.

[2018-11-20 08:34] Julien76 commented on #26
That makes sense. Thanks for the explanation.
Is there any way to revert back to the hold behaviour through an option?
I kind of liked the prefix "TCL: " :)

[2018-11-20 09:14] sharnik commented on #25
@tuannm93 My guess is you had the same problem as I had and you pressed the wrong keys ;) It's I (letter L, like lettuce), not I (letter I, like iguana).

[2018-11-20 13:06] Chakroun-Anas commented on #26
Hello,

Initially the application didn't had the prefix, it was introduced to better identify the log messages; i guess if we can achieve this objective without any distraction it would be even better.

I liked the prefix too 💔😃

[2018-11-26 11:09] diegolmello commented on #24
Yeah, it would be awesome!

[2018-11-26 23:18] bryanjenningz commented on #26
I liked the TCL prefix because it allowed me to filter my logs for the string "TCL" so only the TCL logs would show up, so it was really useful for debugging.

[2018-11-29 09:06] schulz-atenekom opened #27 "macos keybinding"
What are the key bindings for macos?

[2018-12-01 00:31] seanwhudson commented on #24
same thing with tab/space usage. tslint complains, and blocks the build, if double quotes and tab spacing is mixed with spaces. This extension uses tabs and double quotes, both which violate my (and many others I suspect) linting rules. Needs to be configurable or it's unusable!

[2018-12-05 12:33] williamcosta commented on #27
Hi @schulz-atenekom the key bindings for the MacOS are the description in `contributing` tabs inside de VSCode Extensions section.

Follow the screenshot:
![screen shot 2018-12-05 at 10 32 59](https://user-images.githubusercontent.com/6557202/49513775-3ba1f080-f879-11e8-9c5b-019bde27c8a3.png)

[2018-12-06 20:48] epilande commented on #20
@Chakroun-Anas I just ran into this..In the docs the l looks like a capital i. 😂

IlIl

[2019-01-03 07:04] iamsurajdc opened #29 "#Change hotkey in Description as: Pressing ctrl + alt + L instead Pressing ctrl + alt + l"
@Chakroun-Anas
Issues: #20 #27
I) Insert meaningful log message automatically

Two steps:

Selecting the variable which is the subject of the debugging

** #Pressing ctrl + alt + L**

The log message will be inserted in the next line relative to the selected variable like this:

[2019-01-09 13:17] astone2014 commented on #24
I agree this should be a feature. Otherwise people who use linters may spend so much time fixing the quotes that it's not worth using the extension.

[2019-01-09 18:06] adamk33n3r commented on #24
I thought it was odd that in the gifs on the marketplace it showed single quotes. I'm having the same problem with double quotes and tabs. We use single quotes and spaces so the linter complains.

[2019-01-10 14:31] motss opened #30 "[FEATURE_REQUEST] To add option to use single quote"
As title suggest, I'm seeing the GIF you're using is outputting single quote but what we got is double quote. Is there any option to tweak that?

[2019-01-11 02:57] ronyth commented on #29
Ctrl + Alt + L is the default shortcut for Linux Mint Cinnamon "Lock Screen", so I must change this to another shortcut

[2019-01-13 07:53] assafb81 opened #31 "support for backend"
Hi,
Is it possible to add support for back-end languages such as `C#`?

[2019-01-14 15:39] curtisblackwell commented on #31
It would be great to tie this to the Language Mode and a user-defined config.

The plugin could just ship with JS's `console.log`, and users would have to define what happens in other languages, otherwise it'd just default to the current behavior.

Something like this would work for PHP:

[code]

[2019-01-16 18:31] JasonCubic opened #32 "Should obey tab settings in the editor"
my editor is set to use 2 spaces for the tab.  turbo console log inserts a real tab.
![image](https://user-images.githubusercontent.com/8921015/51270478-df52e600-1979-11e9-8327-ed9e68ce1244.png)

[2019-01-18 02:31] nickolboy commented on #29
Please modify the introduction, I saw it as a capital I

[2019-01-21 04:00] drugoi opened #33 "Linting rules"
It's not an issue, but please — add your own linter rules, because it hard to contribute to your project (all your code rules by internal linters of contributors).
Hope's you fix it fast.

Also, great extension and good job.

[2019-01-21 07:05] PisaJan commented on #30
@Chakroun-Anas Works for me. Good job :)

[2019-01-21 19:44] Chakroun-Anas commented on #33
Hello,

Linting rules are added to the project.

Thank you very much for your feedback.

[2019-01-22 02:37] drugoi commented on #33
Thank you!

[2019-01-22 02:37] #33 closed

[2019-01-22 03:31] #30 closed

[2019-01-23 01:51] Hearen opened #35 "Not working but why?"
Sorry to open this issue but it seems it's not working in *Visual Studio Code 1.30.1* in Ubuntu 16.04.

F.Y.I

- working on an angular project;
- using vim in VSCode;
- disabling vim and reloading won't help;
- restarting the VSCode won't help;

[2019-01-23 20:35] thopper opened #36 "How do you configure this to include a prefix on variable selection ?"
I'm doing alot of angular dev work, using typescript.
When selecting the variable in vscode, would it be possible to include the prefix :
this.

ex:
	// console.clear();
		this.module = this.modForm.value.module;
		console.log('​GearTeethCalculatorComponent -> calcMODPitchDiameter -> module', module);

[2019-01-26 13:38] Chakroun-Anas commented on #36
Hello,

Just select this.module instead of module and the inserted log message will be:

console.log('​GearTeethCalculatorComponent -> calcMODPitchDiameter -> this.module', this.module);

[2019-01-26 13:57] Chakroun-Anas commented on #26
Hello,

The prefix is back with the ability to specify a custom one by changing the logMessagePrefix property.

This issue should be resolved, please give me your feedback so that i can close it.

Thx.

[2019-01-26 14:00] Chakroun-Anas commented on #24
This issue is linked to : [`[FEATURE_REQUEST] To add option to use single quote`]( https://github.com/Chakroun-Anas/turbo-console-log/issues/30 ).

[2019-01-26 14:00] #24 closed

[2019-01-28 08:28] mvesign opened #37 "Not working with VS Code version 1.30.2"
Installed extension and reloaded VS Code, but shortcode of a new console log is not working. Option is present in the command palette of VS Code, but nothing happens when the option is selected.
![turbo-command-palette-vscode](https://user-images.githubusercontent.com/9944224/51823128-bec24e80-22de-11e9-829b-89e32c90de78.jpg)

Current setup:
- VS Code 1.30.2
- Node.js 8.9.3
- Windows_NT ia32 10.0.

[2019-01-28 11:02] Chakroun-Anas commented on #37
Hello,

I will check and get back to you soon.

Thx.

[2019-01-28 15:00] Chakroun-Anas commented on #37
Hello,

I have just tested the extension with respect to the setup that you mentioned and it's working just fine !

One question please, did you select a variable before executing the command ctrl + alt + L ?

If there is no variable selected nothing will happen, as mentioned in the description you should select a variable that is the subject of the debugging before executing the command !

Thx.

[2019-01-28 15:25] kurienkoa commented on #37
hello,
VSCode 1.30.2
windows 10
turbo console works only in moment selected variables and lose focus in index.js

[2019-01-29 07:02] dragmove opened #38 "closing brace issue 'ㅅ')/"
Hi. I've been using this extension since last week.
Thanks for your fantastic extension. 'ㅅ')/

I discovered this issue on vscode today.
// windows 7. vscode version is 1.30.2.

For example,
I tried to select 'error' text and run 'Display Log Message' feature using keyboard shortcut.

[code]

[2019-01-29 08:16] Julien76 commented on #26
Hi,
Thanks a lot for the update.
It works great. The issue can be closed :+1:

[2019-01-29 08:16] #26 closed

[2019-02-03 13:47] chetanpan opened #39 "Please allow ` along with ' and " in configuration"
So that, once log line is generated, we can easily edit to include anything else as ${}...

[2019-02-06 18:52] Nxt3 opened #40 "[Feature Request] Option to disable prefix"
Setting `"logMessagePrefix": ""`  doesn't remove the prefix. I don't want any prefix and there doesn't seem to be a way to disable them; i.e. no colon.

[2019-02-06 18:58] Nxt3 commented on #37
On 1.31.0-insiders I can't comment out all logs or delete all logs by either the command palette or keyboard shortcuts.

[2019-02-08 10:30] mvesign commented on #37
Hello,

Thanks for the quick reply, and sorry for the lack of replying back in a quick matter.

Tried it again today, and with success. Don't know what caused it to not work in the first place. But it seems to be resolved now.

Steps I took today:
- Select the variable by double clicking on it.
- Execute the command CTRL + ALT + L
- And voila... Received a nice log line below the selected variable

[2019-02-08 10:30] #37 closed

[2019-02-15 13:36] Chakroun-Anas commented on #40
Hello,

The prefix is used to detect the log messages inserted by the extension in order to perform the following actions: Comment the log messages, uncomment and delete them.

The prefix is also useful when it comes to filter the logs so that you keep just the messages inserted by the extension.

As an alternative, you can set the prefix to something less distracting: ~ for example !

[2019-02-18 03:16] PJijin opened #41 "Not working properly in multi line variables"
const details = {

         title: res.data.title,

         type: res.data.location_type

         };

When i select details and try to console log using Ctrl + ALT + L

       const details = {

       console.log('TCL: App -> componentDidMount -> details', details)

       title: res.data.title,

       type: res.data.location_type
       };

[2019-02-19 09:38] cr4zyc4t opened #42 "Ambigius guideline"
It's take me more than an hour to figure out why I cannot use this plugin by pressing:
```ctrl + alt + i```
I know it's my mistake but please update guideline shortcut keys to "Ctrl + Alt + L" 😄

[2019-02-20 06:23] NitinHsharma commented on #40
Hey @Chakroun-Anas

Did the changes for optional prefix, using comments.
added the pull request for the same. Please check and let me know if anything need to be change.

Pull request number  #43

[2019-02-22 13:40] blickwerker opened #44 "[Feature Request] console.debug"
I would like to see an option to change the output from console.log(...) to console.debug(...). Cheers!

[2019-02-24 12:38] NitinHsharma commented on #44
I did the change in the existing code to support above feature,
Please check the pull request #45.
Feel free to check and give review points, Will surely do the necessary changes if required.

[2019-02-26 02:55] amandatennent opened #46 "Turbo Console Log doesn't work if the variable being used is on the last line in the file"
When trying to use Turbo Console Log to output console lines for a selected variable, if that variable is on the final line of the fileTurbo Console Log doesn't output the console line at all. It should insert a new line at the end of the file and place the console line there.

[2019-03-15 15:55] adrigm commented on #32
Same for me. Angular works with spaces.

[2019-03-17 03:33] abhagsain opened #49 "This doesn't work anymore"
When I press the default shortcut it writes ī then I changed the shortcut to Ctrl + Alt + O. It worked for a while now it's not working at all.

[2019-03-20 17:31] SharpSeeEr opened #50 "Configuration names should have a common prefix"
The four settings should have a common prefix added to avoid naming conflicts and allowing easier searching.
Instead of:
[code]
Add prefix:
[code]
Or optionally displayed as:
[code]

This makes finding and editing the appropriate settings much easier by simply searching for the name of the extension.  Pull request incoming.

[2019-03-21 00:07] #36 closed

[2019-03-21 10:53] Chakroun-Anas commented on #49
Hello,

I can't reproduce the scenario that you are describing so please give me the full details in order to reproduce otherwise i can't help you.

Thank you.

[2019-03-21 11:06] Chakroun-Anas commented on #39
Hello,

The quote property is non an enumeration:

- Double quotes: ""
- Single quotes: ''
- Backtick: ``

Regards.

[2019-03-21 11:06] #39 closed

[2019-03-21 11:20] Chakroun-Anas commented on #50
Hello,

Your PR is merged to master, thank you so much for helping me making this extension better.

Regards.

[2019-03-21 11:20] #50 closed

[2019-03-21 11:45] Chakroun-Anas commented on #40
Hello @NitinHsharma,

I really appreciate your contribution and for that i thank you so much, the concern with the comment solution is that it's easily breakable by editing the comment or delete it, if so then the detection will not work anymore and as a consequence all the other functionalities relying on it will fail too.

I prefer to keep the current implementation and as i said before you can

[2019-03-21 11:51] Chakroun-Anas commented on #42
Hello,

I'm really sorry for the inconvenience, the README is updated so that an L is used instead of l.

Thank you.

[2019-03-21 11:51] #42 closed

[2019-03-21 11:59] Chakroun-Anas commented on #35
Hello,

I will check that and get back to you soon.

Sorry for the inconvenience.

[2019-03-21 12:36] Chakroun-Anas commented on #38
Hello,

The catch statement is one of the javascript statements, the extension should look for the function that enclose the try catch block just like it does with if, switch, while and for statements.

I have pushed an update so that the extension behaves as it should be.

Thank you so much for your feedback.

[2019-03-21 12:36] #38 closed

[2019-03-21 12:40] Chakroun-Anas commented on #41
Hello,

This behavior is a must, i ensure you that i will on it in the coming days.

Thank you for your feedback.

[2019-03-21 15:56] abhagsain commented on #49
I don't know what is the issue but when I press the keyboard shortcut you've set it writes this ō letter!

[2019-03-22 08:20] NitinHsharma commented on #40
Hey @Chakroun-Anas
Thank you so much for writing me back.
The above implementation works only in case of a blank prefix, although I agree with your thought of the consequence of failing stuff.

Will surely think about it and will try to come up with something.

[2019-03-22 14:05] NitinHsharma commented on #40
What about, project name (directory name).
And this will use only in case if prefix is null or can give toggle button in configuration for prefix or project name.

Please suggest your thought, so that I can start working on the same :)

[2019-03-22 15:23] TomYeoman opened #52 "Unable to produce a log"
Hi thanks for developing the extension looks like it would be handy!

I'm unable to get the shortcut working on my windows 10 machine however. I've tried using it on a typescript + JavaScript file with neither of them working

Version : 1.2.0

![image](https://user-images.githubusercontent.com/14075632/54833623-5e380800-4cb6-11e9-8abf-27c5c53a6c73.png)

[2019-03-27 04:56] m-venkat opened #53 "Wonderful extension, but latest version is not working"
On Windows 10 machine, with latest version of VSCODE and with latest version of extension is not working.  I had to pick the earlier version to make it work. Tried straight forward scenario to create console.log from a variable

[2019-03-28 12:42] Narshe1412 opened #54 "Ability to use VSCode Log-points"
I love this extension but I've found out that I often make commits with console.logs still plaguing my code, annoying all your colleagues. I understand that there's a keybind to do this automatically but it only does per file, and have also the disadvantage that it's not automatic on push/commit (and other non-git repo workflows)

There's a VSCODE that solves the console.log issue by using what th

[2019-04-03 14:19] Chakroun-Anas commented on #53
Hello,

I have just tested the extension with the following setup and it's working perfectly fine:

- Visual Studio Code: 1.32.3 (latest)
- Windows: 10.0.17143

Thank you very much for trying to help in order to make the extension better but as you know if i can't reproduce the issue in a similar environment that you are referring  to it's not a global issue and hence will be closed.

[2019-04-03 14:31] Chakroun-Anas commented on #52
Duplicate of #53

[2019-04-03 14:31] #52 closed

[2019-04-03 14:40] Chakroun-Anas commented on #49
Hello,

You can always change the default shortcut to another shortcut, check the following article:

https://code.visualstudio.com/docs/getstarted/keybindings

[2019-04-13 21:20] cycle4passion opened #55 "[Feature request] TCL logging without selected text"
If nothing selected and not over a word simply add new line

console.log("')

obviously respecting TCL VS code setting for parenthesis type and set the cursor within the quotes.

let word = "Hello"; // cursor lies between 'o' and 'r' of word (nothing selected).

console.log("TCL: word", word);

See existing fork: https://marketplace.visualstudio.com/items?itemName=letrieu.turbo-console-log-fork

[2019-05-02 18:04] gabrielsclimaco commented on #32
+1

[2019-05-03 12:24] MR-T77 opened #56 "Alt + Shift + D doesn't work on MAC"
Only the combination CTRL+Alt+L works on Mac. The other's (to comment, delete, uncomment, don't work)

[2019-05-15 02:11] WretchedDade opened #58 "FunctionName Not Being Parsed Out in Typescript Files"
So as you can see the when generating a console.log for the bar parameter in the following function the functionName -> syntax isn't added automatically. After digging into this I noticed it was because the regular expression used for testing the line for a named function didn't allow for the return type specified by functions in typescript. It would be very useful to use the extension as intended

[2019-05-16 07:02] Kalaschnik opened #59 "Use spaces instead of tabs"
ESLint complains, rightly, for the use of tabs instead of spaces:

![image](https://user-images.githubusercontent.com/9831678/57833015-58900780-77b9-11e9-8191-1389c1e69372.png)

[2019-05-17 06:17] toddmark commented on #59
![image](https://user-images.githubusercontent.com/5175214/57906976-73907380-78ae-11e9-8bfd-fb8f940a3fa2.png)
I got the same issue.

[2019-05-19 08:00] lxt410725 opened #60 "not work"
not work   on mac

[2019-05-19 08:04] #60 closed

[2019-05-20 09:37] jdpnielsen commented on #59
Yep.. Still waiting on word regarding https://github.com/Chakroun-Anas/turbo-console-log/pull/16

[2019-05-20 19:16] Chakroun-Anas commented on #59
Hello Guys,

I will check this tonight.

Thanks so much.

[2019-05-21 03:10] Chakroun-Anas commented on #32
Duplicate of #59

[2019-05-21 05:43] Chakroun-Anas commented on #58
Hello,

PR accepted, thank you so much for your efforts.

[2019-05-21 05:47] Chakroun-Anas commented on #59
Hello,

I have pushed a new version that deal with this, can you guys test it and give me your feedback.

Thanks.

[2019-05-21 05:49] Chakroun-Anas commented on #41
Hello,

I have pushed a new version that deals with the following multiline variables:

1) Object
2) Variable getting it's value from single function invocation or nested functions invocations
3)Template string

Can you please test it and give me your feedback.

[2019-05-21 06:29] Kalaschnik commented on #59
It works! Thank you!
I’m on VS Code 1.34.0 and TCL 1.2.18

[2019-05-21 07:43] PJijin commented on #41
@Chakroun-Anas  Works fine now 🥳

[2019-05-21 07:43] #41 closed

[2019-05-21 16:12] Chakroun-Anas commented on #56
Hello,

I can't reproduce the issue, so would please give me more hints so that i can help you.

Thanks.

[2019-05-21 16:13] #49 closed

[2019-05-24 03:41] lucasltv commented on #10
This functionality worked before. For some reason it stopped working. I believe it's for some VSCODE update....

[2019-05-25 17:29] #32 closed

[2019-05-25 17:29] #59 closed

[2019-05-29 00:05] madeinspace opened #61 "[Feature request] possibility to disable className/functionName output"
I love your plugin but ended up disabling it because I found the addition of prefix + className - functionName makes it really difficult to read.

Most of the time I just log the variable name and that's enough.

Could you add perhaps a setting to disable these to just have this:

console.log("SelectedVariable", SelectedVariable)

Thanks for considering

[2019-05-29 08:54] MR-T77 commented on #56
What type of information would be helpful?

[2019-06-11 06:16] Kalaschnik opened #62 "Multi Line issue for chained expressions with dot"
I’m using 1.2.23 and consider this code:
[code]

When selecting myVariable, hitting Ctrl+Alt+L it will insert the console.log here:
[code]

yet, it should appear here:
[code]

[2019-06-11 17:43] charleston-code commented on #56
none of the key bindings work on my mac as well. Is there another way to execute the tasks besides keyboard shortcuts? For instance, by right-clicking? Is there a contextual menu?

[2019-06-19 13:49] almarto commented on #11
That weekend wasn't successful :trollface:

I was ready to open a new issue but it'd have been duplicated with this one, I'm facing the problem of my eslint config doesn't like the `console.log` so I'd need either a way to set a setting flag `hey add eslint-disble-line to the end` or this templating setting which is more powerful.

I'd like to know why didn't you finally implemented it if it was b

[2019-06-19 13:53] almarto opened #63 "[Feature Request] ESlint no-console rule"
This plugin isn't compatible with the ESlint rule `no-console` so it'd be nice if there is a setting to configure this.

If true, the snippet could have `//eslint-disbale-line` or something like that

[2019-06-21 12:25] domiSchenk commented on #56
it may not work because your using backtick?
The method `detectAll` uses following REGEX:
https://github.com/Chakroun-Anas/turbo-console-log/blob/d704dda9dbc2b93fdf04c7e5a4b8f16ab599175f/log-message.js#L239

so ` are not catched.

should i open a new issue for this?

[2019-06-27 14:39] Chakroun-Anas commented on #62
Hello,

Sorry for the delay, i have just pushed a new version (1.2.24) that deals with this, please verify and share with me your feedback so we can close the issue.

Thank you so much.

[2019-06-27 14:55] Chakroun-Anas commented on #61
Hello,

I have just  pushed a new version (1.2.25) with the ability to insert or not the enclosing class and function in the log message, basically you just need to set the values of the following booleans: insertEnclosingClass and insertEnclosingFunction.

Here we go !

[2019-06-27 14:55] #61 closed

[2019-06-27 14:59] #53 closed

[2019-06-29 15:30] Kalaschnik commented on #62
This changes might introduce another bug. The console.log is not set directly after the line. Instead it seems somehow random, see the gif:
![Peek 2019-06-29 17-27](https://user-images.githubusercontent.com/9831678/60386297-711b5f00-9a93-11e9-9a0b-2d10f27f400f.gif)

[2019-07-03 19:41] germanfleitas commented on #62
Hello, same issue here as @Kalaschnik. Some time it put the log even outside the function.

Turbo Console Log: `v1.2.25`
VS Code: `v1.36.0`
SO: `Windows 10`

Thanks!

[2019-07-03 19:57] Chakroun-Anas commented on #62
Hello,

I have made a real quick fix (it took me 5 minutes xD), i'm not sure if it cover all the cases so please test again and give me your feedback.

I promise that i will go back to this once i have more time.

Thanks and sorry for any inconvenience.

[2019-07-04 07:00] rahul-argo opened #66 "Not working in ubuntu"
I am using in ubuntu 18. but when i am trying to do things with `ctrl+alt+l `but is not working .

[2019-07-04 11:45] #66 closed

[2019-07-04 11:46] rahul-argo commented on #66
That was key binding issue . good job

[2019-07-04 13:55] germanfleitas commented on #62
Thanks for the very quick feedback and sorry for my delayed response. I try it and it seems that it's working as expected now! But I guess the issue pointed by @Kalaschnik is still there.

Thanks!

[2019-07-05 15:26] germanfleitas commented on #62
Hi! Using the new version today I found that the error still happen, same system conditions:
![tcl_out_of_bounds](https://user-images.githubusercontent.com/43961673/60732263-f4b7ce80-9f1f-11e9-9eee-eb3b2458dbbc.gif)

Thanks!

[2019-07-12 10:59] kresli opened #67 "move log before statement if next line is return"
this
[code]
should be
[code]
Also this is only true if selected line is not scope begging.

[2019-07-19 07:06] zhouxinnana opened #68 "comment,delete,uncomment,doesn't work"
comment,delete,uncomment, doesn't work
![ScreenGif4](https://user-images.githubusercontent.com/17378786/61518906-42165e80-aa3d-11e9-9634-4fea55fa2ea2.gif)

display log message can work
![ScreenGif](https://user-images.githubusercontent.com/17378786/61518474-35453b00-aa3c-11e9-9d81-ad6e30b0a25c.gif)

Turbo Console Log: v1.2.26
VS Code: v1.36.1
SO: Windows 10

[2019-07-25 14:02] SimonGolms commented on #68
Look at your keyboard shortcuts mapping. In my case these were already assigned to the Bookmark Extension.

[2019-07-27 07:53] Osky772 commented on #68
I have same problem. I can log but I can't delete, comment and uncomment.

[2019-07-27 08:34] Osky772 commented on #68
I tried do it in many ways but I have only one shortcut and it's for this extension.

[2019-07-29 06:44] zhouxinnana commented on #68
![image](https://user-images.githubusercontent.com/17378786/62026924-f7e86680-b20e-11e9-8a5c-6e0225879336.png)

update keyboard shortcuts mapping,doesn't work

[2019-08-02 12:04] D4vx opened #69 "[Feature Request] Support for alternative log providers i.e. Winston"
Firstly - this extension has made life very easy for quick console logging, for this I thank you :)

I have recently been using Winston as my primary logger and have forked this extension adding the option to replace the basic 'console.log' with whatever custom logger prefix you want, set via the options.
In addition I have mapped 3 more keys for quick access to debug, warn and error types. This i

[2019-08-09 09:27] #58 closed

[2019-08-09 09:36] Chakroun-Anas commented on #68
Hello,

In order fix an issue i should be capable to reproduce it and unfortunately this is not the case based on the information you provided.

For the moment i cannot really help you however i will keep this issue opened ...

[2019-08-09 09:43] Chakroun-Anas commented on #62
Hi @germanfleitas @Kalaschnik,

I have just pushed a fix, would you please test again and give me your feedback

Thx

[2019-08-09 10:03] Chakroun-Anas commented on #67
Hello,

I have just pushed a new version that deals with this, please check again and give me your feedback.

Thx,

[2019-08-09 14:31] Chakroun-Anas commented on #68
Hello,

The extension rely on the prefix in order to detect the inserted log messages, i bet that you removed the prefix which obviously messed up the functionality.

The obvious solution is to force a default prefix, i will work on that soon.

Thx

[2019-08-10 16:21] germanfleitas commented on #62
Hi @Chakroun-Anas,
Sorry for the late response. I was testing and it seems that it works as intended!
Thanks!

[2019-08-12 08:40] #62 closed

[2019-08-14 11:42] #68 closed

[2019-08-14 11:42] #40 closed

[2019-08-15 19:11] tronicroger commented on #2
On linux Mint: Ctrl + Alt + i || L || 1 all don't work, but Ctrl + Alt + L does lock out my desktop.
How can I change the keymap on this??

[2019-08-16 12:02] pookdeveloper opened #70 "Delete all console log not work on Macbook Pro"
Delete all console log not work on Macbook Pro
Link with a video:
https://www.loom.com/share/33d3e4643a764e02943a902d9aa0c7f8

[2019-08-16 17:24] Chakroun-Anas commented on #70
Hello,

Is comment and uncomment log messages functionalities working ?

Thx

[2019-08-16 17:38] pookdeveloper commented on #70
Hello @Chakroun-Anas the comment and uncomment dosen't work
Thanks

[2019-08-16 17:40] Chakroun-Anas commented on #70
Hello @pookdeveloper,

The detection of the log messages is failing !, please share with me the prefix that you set for the log messages (spaces included ).

Thx.

[2019-08-16 17:42] pookdeveloper commented on #70
@Chakroun-Anas  the config
![image](https://user-images.githubusercontent.com/3384734/63186941-fa93ea00-c05d-11e9-8645-9d714fd165bf.png)
Thanks

[2019-08-16 17:55] Chakroun-Anas commented on #70
Hello @pookdeveloper,

The problem is not with the prefix, the detection failed because the usage of the backquote, i have just pushed a new version (1.2.31) that deal with this, please update the extension, test again and give me your feedback.

Thx

[2019-08-16 18:00] pookdeveloper commented on #70
Thanks it works :)

[2019-08-16 18:00] #70 closed

[2019-08-17 13:35] Chakroun-Anas commented on #56
#70

[2019-08-17 13:36] Chakroun-Anas commented on #56
Related to #70

[2019-08-17 13:36] #56 closed

[2019-08-19 23:17] Chakroun-Anas commented on #18
Hello @kocsis1david,

Done :)

Thx

[2019-08-19 23:17] #18 closed

[2019-08-23 11:10] cuddeford opened #71 "Incorrect handling of properties in objects"
Expected behaviour:
<img width="368" alt="Screenshot 2019-08-23 at 12 09 48" src="https://user-images.githubusercontent.com/6650672/63588671-feb09200-c59e-11e9-86ca-dde165f40da7.png">

Actual behaviour:
<img width="386" alt="Screenshot 2019-08-23 at 12 06 14" src="https://user-images.githubusercontent.com/6650672/63588692-0a9c5400-c59f-11e9-932d-e7f386164790.png">

[2019-09-07 10:01] JeromeDeLeon opened #72 "[Feature Request] console.group instead of log"
The output will be something like this:
[code]

[2019-09-14 00:19] ashwell commented on #35
I just installed this extension but it doesn't appear to be working. I'm guessing it is related to the vim keymap. On OSX `ctrl + cmd + L` does nothing and attempting to call the commands from the command palette doesn't work either.

[2019-09-19 21:53] skovalev opened #73 "Bug: unable to use special characters in logMessagePrefix"
https://github.com/Chakroun-Anas/turbo-console-log/blob/da8b387425b244953985c928cd79bb27e7988450/log-message.js#L388

This regexp not working, if logMessagePrefix contained special characters (like `|`). Need escaping.

[2019-09-23 16:11] johnstonmatt opened #75 "Log message suffix"
Hey folks,
I'm interested in padding the suffix of the log message, just in the same way it is possible with a prefix. I want this feature because I like to add line breaks on both ends of my console log messages to make them easier to see in a very verbose program script.

If you guys are on board with this I will make a PR accordingly.
Thanks!

[2019-09-24 07:34] capaj opened #76 "allow empty custom prefix"
I prefer no prefix, but currently if I try to set that, `TCL` gets added anyway

[2019-09-25 23:46] johnstonmatt commented on #75
with the `Wrap Log Message` configuration option I have everything I need already, so I'm closing this issue, thanks for the good work all!

[2019-09-25 23:46] #75 closed

[2019-12-03 09:58] zthxxx commented on #63
or you can try [**dont-care-log**](https://github.com/zthxxx/dont-care-log) to solve eslint / lint-staged problems

[2019-12-12 13:42] M0hammedImran commented on #37
it is not working for me aswell

[2019-12-17 06:27] tantrarahul commented on #37
Facing Same issue

[2020-01-14 10:34] noririco opened #81 "function name not always showing"
In some cases It genereated, some cases dont

WONT WORK
[code]

WORK
[code]

[2020-02-12 17:04] qmmr commented on #35
@ashwell Just installed it on my Mac OSX 10.13.6, VSC 1.42.0 and it works. The shortcut is: ```Ctrl + Option + L``` Hope this helps 👍

[2020-02-13 18:12] CircleOnCircles opened #82 "Is this project still being maintain?"
I see no issue and pr being taking care of for months.

[2020-02-16 21:41] Chakroun-Anas commented on #82
Hello,

Sorry for the passiveness during the last months, in fact i had a lot of things going on in my professional career, i'm coming back to maintain the extension like never before 🙂

Thx.

[2020-02-17 02:54] CircleOnCircles commented on #82
There are a lot of pull requests waiting for review please take a look.

There are forks of this project some are in the vscode marketplace.
![Screenshot 2020-02-17 at 9 49 09 AM](https://user-images.githubusercontent.com/8089231/74620220-ee066080-516a-11ea-8648-1e145ade6ec4.png)

If those PRs get merged and make some release it would be a nice update to users. ☺️

[2020-02-19 09:30] Chakroun-Anas commented on #82
The most urgent actions for me is to add a static type checker (flow) and write tests that cover the different use cases so that we can add more functionalities with more confidence ^^

[2020-02-28 11:45] Yulms commented on #37
I had the same problem. It consisted in the fact that the same key combination was used by another extension - "bookmarks" in my case

[2020-02-28 18:21] Chakroun-Anas commented on #82
Flow is added to the project and now we have also integration tests which will make us fix existing bugs and publish new features with so much confidence ^^

[2020-02-28 18:23] Chakroun-Anas commented on #76
You can do this in the latest version: 1.4.0

[2020-02-28 18:23] #82 closed

[2020-03-02 06:17] omar-dulaimi opened #84 "keyboard shortcut not working on manjaro"
the default shortcut simply shows manjaro's login screen, so is there any way to create a custom vscode binding instead of ctrl + alt + d ?

[2020-03-03 12:37] johnrix commented on #11
Was about to log a request when I found this one logged by @fabiospampinato.

One note I would add (in case there is ever any chance of this getting finished), is that separate templates would be needed for each supported language ie. JS, PHP etc.

[2020-03-05 09:50] alfianandinugraha commented on #37
make sure your shortcut ( CTRL + ALT + L ) is just for Turbo Console Log
![image](https://user-images.githubusercontent.com/34809276/75969021-e089fe00-5f00-11ea-9136-91f1039f8443.png)

[2020-03-06 18:17] rusakovic opened #85 "[Feature Request] Add filename and code line prefix"
Hello

THank you for your extension.
It will be great if you could add feature for such prefix:

**index.js**
[code]

Thank you

[2020-03-23 17:07] #63 closed

[2020-03-26 22:13] kraighamady opened #87 "Use editor settings for indent type"
I have a few different projects I work on that have different indentation settings.  When I use this extension (which is great by the way!) it always adds spaces instead of reading the settings from the editor.

It would be great if you could have it add the indentation from the linter or from the editor config.

Thanks!

[2020-04-03 21:09] fergalmoran commented on #84
Yes please! Need a way to configure the shortcuts!
Excellent extension btw!

[2020-04-05 07:42] smkamranqadri opened #88 "[Feature Request] cl snippet"
Hi,

I would like to propose a feature request which is like adding a snippet, so when user type "cl" a snippet menu will open and when user press enter, "console.log({$1})" will pop up.

I have another extension just doing this, would like it to be in this extension and available to add this feature.

[2020-04-08 16:19] Epistol opened #89 "[Feature Request] suffix for eslint-disable-line"
Hi, I was messing around with the extension which is super great as for now, and I thought since I have a project that doesn't stand any console.log anywhere without popping warning via eslint, could we add an option to add a suffix for each line generated that we can configure ? For example

X : Turbo Console Log: Log Message Suffix
[ ' Content goes here' ]

[2020-04-20 16:51] skoskie opened #90 "What block highlighter extension are you using."
Sorry to post an issue for this, but I must know what block highlighter extension you are using. I would very much like to also install it ...

The one seen here:

![Screen Shot 2020-04-20 at 10 50 16 AM](https://user-images.githubusercontent.com/495511/79777732-e8590280-82f4-11ea-9c88-d1c63a613fd8.png)

Thanks!

[2020-04-21 12:11] ianldgs commented on #81
Also not working for me. Maybe it has to do with TypeScript.

[2020-05-08 07:47] rusakovic commented on #85
Hello!

Is it possible to add this functionality?
Thank you

[2020-05-21 18:12] suyogkh commented on #35
Please check either your pc is using `ctrl + alt + L` shortcut in prior.
I have changed mine to
[code]
Preferences -> keyboard shortcut -> change it to json format -> search turbo and replace with this

[2020-05-23 15:15] PrashantSinghGour2 opened #91 "add support for angular ts"
In angular if i need to log variable then it should be like
**console.log('some message' + variableName);**
but using turbo console log which is amazing tool, its give snippet like this
**console.log('some message', variableName);**
 it will be awesome if that comma is replaced for '+' in angular support.

[2020-05-26 22:36] omar-dulaimi commented on #84
I hope this gets more attention from the maintainers.

[2020-05-28 23:08] sastromo opened #92 "[Feature Request] Adding ":" or "," or ";" before the variable that's been logged"
its visually easier to separate the name of the function from what is been logged.

![Screenshot_1ssssssssssssssss](https://user-images.githubusercontent.com/45545544/83202084-be3e0000-a13e-11ea-9f52-2056dfacb1b0.png)
vs
![Screenshot_3](https://user-images.githubusercontent.com/45545544/83202586-c9456000-a13f-11ea-9a54-3aed88e6a16f.png)
or even surrounding everything with quotes plus colon.
![Scre

[2020-06-12 15:49] abhedindulkar opened #93 "ctrl + alt +L does nothing"
It just removes the variable and gives a dot at the place and as we use ctrl+alt +L the dot goes below to the previous dot
![image](https://user-images.githubusercontent.com/43247545/84521292-67195d00-acf2-11ea-890e-642957f90d91.png)

[2020-06-13 16:16] rohantarai commented on #93
@abhedindulkar
after installing this extension.
- Edit this file `C:\Users\<Username>\AppData\Roaming\Code\User\keybindings.json`
- Add these json values in `keybindings.json`
[code]
- Save and It will start working

[2020-06-13 23:17] himat opened #94 "How to change the shortcut?"
I don't want to use ctrl + alt + L to log something. How do I change the default shortcut?

[2020-06-22 13:02] Fourie-r commented on #93
I have the same problem, ctrl+alt+l does nothing for me as well, but I also dont have such file keybindings.json in this directory. The only json file there is settings.json.

[2020-06-24 02:12] Apawn1979 opened #95 "The alt + shift + d shortcut exceeded it's power"
The shortcut removed all _console.log_ in the page even that is not added by Turbo Console Log.
That's not expected.

[2020-06-30 09:09] selvakumardhivakar commented on #94
Go to your vscode keybindings settings! Ctrl + K Ctrl +S

search turbo console log or any shortcut change you want. You can edit there!

[2020-07-02 00:14] shekhar7 commented on #69
+1

[2020-07-02 14:42] chakroun-anas-contentsquare opened #96 "Need for maintainers"
Hello,

With all what is going on in my personal and professional life, i come to a conclusion that i can no longer maintain the extension alone, if you are a developer willing to help keep this extension alive please contact me on this email: chakroun.anas.developer@gmail.com, i have great plans that are waiting for you 🙂

Thank you guys.

[2020-07-02 15:04] Chakroun-Anas opened #97 "Need for maintainers"
Hello,

With all what is going on in my personal and professional life, i come to a conclusion that i can no longer maintain the extension alone, if you are a developer willing to help keep this extension alive please contact me on this email: chakroun.anas.developer@gmail.com, i have great plans that are waiting for you 🙂

Thank you guys

[2020-07-16 02:30] zhangbowen-github opened #99 "This version"turboConsoleLog.insertEnclosingClass" and "turboConsoleLog.insertEnclosingFunction"doesn't work well"
This version"turboConsoleLog.insertEnclosingClass" and "turboConsoleLog.insertEnclosingFunction"doesn't work well

[2020-07-28 11:21] ermarkar commented on #35
i dont know what happend, but when i use the shortcut, sometimes it works, sometimes it shows/prints ,

[2020-07-30 04:35] lanxuexing commented on #35
@suyogkh @ermarkar @qmmr Works perfectly on Mac OSX! 😆

- commentAllLogMessages
⇧ + ⌥ + C
- deleteAllLogMessages
⇧ + ⌥ + D
- displayLogMessage
⌃ + ⌥ + L
- uncommentAllLogMessages
⇧ + ⌥ + U

[code]

[2020-08-03 23:34] chakroun-anas-contentsquare commented on #99
Hello,

Can you add more details please ?

Thx

[2020-08-06 16:53] rohantarai commented on #93
@Fourie-r if there is no keybindings.json file then you can create one there.

[2020-08-15 10:40] zoya-1996 opened #100 "In a single file JS, if you use Ctrl + Alt + L, its comments will be added to it"
![code](https://user-images.githubusercontent.com/38526915/90310696-89b03800-df26-11ea-817d-8e960eb6cddf.png)

[2020-08-19 20:47] pookdeveloper commented on #99
I have the same issue I check to false and dosen't works

[2020-08-19 20:48] pookdeveloper commented on #94
Go to keyboard shortcut and change it, in mac: commnad +k +s, in windows: control +k +s or:
![image](https://user-images.githubusercontent.com/3384734/90688021-197b1c80-e26e-11ea-9271-49ee646cc7f0.png)

[2020-08-20 15:43] sastaachar commented on #37
Setup :
windows
vscode on wsl

The shortcut was not working for me as well , it was placing l̥ instead,
but changing the shortcut key binding solved the issue for me ,
I changed it to  ( CTRL + ALT + K )

It looks like  ( CTRL + ALT + some keys ) will print the alternate characters like ā æ ē r̥ ñ ū ī ō l̥ .

[2020-09-03 06:33] pookdeveloper commented on #99
Hii when it will be fixed ? Thanks

[2020-09-11 03:56] alok722 commented on #93
Now, it works...
Thanks!

[2020-10-06 19:07] deindesignpl commented on #69
It would be actually very useful to have this kind of functionality. All we need is a possibility to define custom replacement for `console.log`, that could be defined by user.

[2020-10-22 13:20] NightFury5535 opened #102 "Unable to type characters when they are set a shortcut keys"
Issue Type: <b>Bug</b>

Settings -> keyboard shortcut -> search turbo console -> I changed the default key bindings to Z+X,Z+C,Z+V,Z+B.
After that I can't able to type 'Z' in the editor window.It is looking only for the next key combinations.

Extension version: 1.4.0
VS Code version: Code 1.50.1 (d2e414d9e4239a252d1ab117bd7067f125afd80a, 2020-10-13T15:06:15.712Z)
OS version: Windows_NT x64 10.0.1

[2020-10-25 10:34] Raju opened #103 "Request to add current line number when inserting the console log"
Requesting a feature,

Whereas while inserting the console.log to add the current line number, will be helpful for navigating the exact line...

[2020-10-28 10:35] chthve opened #104 "control + option + L do not work on AZERTY keyboard"

[2020-10-28 10:37] chthve commented on #104
When switching to qwerty keyboard settings, it works, an not on an AZERTY even if the keys are positioned at the same spot on the keyboard

[2020-10-28 19:49] #104 closed

[2020-11-01 00:39] #94 closed

[2020-11-02 23:31] Chakroun-Anas commented on #99
I'm really sorry for the delay, i just went back to continue the journey. I just pushed a new version: 2.0.2 that fix this, please check and get back to me.

[2020-11-02 23:44] #93 closed

[2020-11-03 07:42] pookdeveloper commented on #99
@Chakroun-Anas perfect !  Thanks to return back ! :)

[2020-11-10 07:45] 95Jialinli opened #105 "vue中出现错误提示无法正常使用"
Cannot read property 'trim' of undefined

[2020-11-10 10:33] paulvonber commented on #105
Same, it looks like it broke away after latest vscode update "Version: 1.51.0"

[2020-11-10 12:36] PeterLAxakon opened #106 "ctrl alt L not working : Cannot read property 'trim' of undefined"
**Turbo console log stopped working**
getting error:  _Cannot read property 'trim' of undefined_

**Windows** 10 64bit Version: 10.0.19041 build 19041
**VS Code** Version: 1.51.0
**Code** Typescript

[2020-11-11 02:49] #99 closed

[2020-11-11 03:42] Chakroun-Anas commented on #105
Hello,

The problem has nothing to do with the latest version of vscode, in fact the trim function is used in the method that extract  the class name from a line code that contains a class declaration but after a quick check it turns out that they were some edge cases that were not handled.

I just pushed a new version that deal with this: 2.0.3, please update the extension, test again and get bac

[2020-11-11 03:43] Chakroun-Anas commented on #106
Same as https://github.com/Chakroun-Anas/turbo-console-log/issues/105

[2020-11-11 03:43] Chakroun-Anas commented on #106
Hello,

The problem has nothing to do with the latest version of vscode, in fact the trim function is used in the method that extract the class name from a line code that contains a class declaration but after a quick check it turns out that they were some edge cases that were not handled.

I just pushed a new version that deal with this: 2.0.3, please update the extension, test again and get back

[2020-11-11 03:44] Chakroun-Anas commented on #105
See https://github.com/Chakroun-Anas/turbo-console-log/issues/106

[2020-11-11 04:00] 95Jialinli commented on #105
今天插件更新后已经可以正常使用了

[2020-11-11 07:55] paulvonber commented on #106
@Chakroun-Anas seems everything is be back on track and working as expected.
Many thanks for the update!

[2020-11-11 14:31] #105 closed

[2020-11-11 14:32] Chakroun-Anas commented on #106
@paulvonber Glad to hear that, you welcome :)

[2020-11-11 14:32] #106 closed

[2020-11-22 03:28] #97 closed

[2020-11-22 17:03] Chakroun-Anas commented on #103
See #85

[2020-11-22 17:04] Chakroun-Anas commented on #85
Hello, i'm so sorry for the late response but better late than never :)

I implemented this in the 2.1.0 version, please check and get back to me so that we can close this, thank you so much for your feedback.

[2020-11-22 17:05] Chakroun-Anas commented on #95
Hello,

Fixed with 2.1.0 version, please check and get back to me, thank you.

[2020-11-22 17:29] Chakroun-Anas commented on #81
Hello, sorry for the late response, i added more support to TS function detection with the version 2.1.2, can please verify and get back to me ? thx.

[2020-11-22 19:27] sghsri commented on #85
Can you make this an option in the settings to include, it is very annoying when all I want to be printed is the variable name. Thanks!

[2020-11-22 19:30] sghsri opened #107 "allow to set a custom logging function in the settings"
Hi!
I love this extension and have been using it for a while! However, it would be very helpful if we could specify a custom logging function to be used instead of console.log in the settings.

for example, say I have a custom logging function logger.info
I would like to trigger this extension on a variable x and have it print out logger.info("className -> potato -> x", x).

It would be also extre

[2020-11-22 19:51] Raju commented on #85
![image](https://user-images.githubusercontent.com/42042961/99915491-09218480-2d2a-11eb-9463-f7a147af4233.png)

looking good can we get option to overwrite few things or reorder them inside the log

[2020-11-22 19:52] Raju commented on #103
thanks, its working saw it like 8hours back.

[2020-11-22 19:52] #103 closed

[2020-11-22 20:54] Chakroun-Anas commented on #85
@sghsri With the version 2.1.3 you can activate/deactivate this option via the extension settings (it's activated by default), please test this and get back to me so that we can close this issue.

@Raju You can open a new issue and i will look at it 🙂

[2020-11-22 21:04] Chakroun-Anas commented on #100
Hello, i don't understand the problem you are describing, can you add more clarifications please ? Thx

[2020-11-23 03:58] harrytran998 opened #108 "When press Crtl + Alt + L ==> Console log will appear in the last line of script in .vue file"
It's an example. After I update the Extention and reload, this stuff happen. And only in Vue file, I checked another file like `.ts` or `.js` it's totally ok!
Vue file have the structure like this.
[code]

![image](https://user-images.githubusercontent.com/24296018/99928291-0602b480-2d7b-11eb-80ad-f25cff12eec5.png)

[2020-11-23 08:12] praburangki commented on #108
This is also happening on a `.ts` file. I've downgraded to v2.1.0 and it's back to normal.

[2020-11-23 10:47] IvesSSa opened #109 "hi I was upadated latest version How to remove "File" and "Line" please!!!!!!!"

[2020-11-23 13:08] chakroun-anas-contentsquare commented on #108
Hello, a fix is coming soon 🙂

[2020-11-23 13:10] chakroun-anas-contentsquare commented on #109
Just unselect "Turbo Console Log: Include file name and line num" checkbox in the settings.

<img width="1437" alt="turbo-console-log-config" src="https://user-images.githubusercontent.com/65676695/99965636-6a327200-2d95-11eb-9a72-448608822325.png">

[2020-11-23 13:20] harrytran998 commented on #108
Thank you for your work ❤️.

[2020-11-23 16:25] sghsri commented on #85
@Chakroun-Anas awesome thank you for getting back to me so quickly and adding it!

I was testing a little bit and noticed a big, it seems like when parsing class arrow functions the functionName in the log message isn't properly being parsed and is retaining the "=". Here's a picture of it:

![image](https://user-images.githubusercontent.com/13592854/99987581-427fe180-2d76-11eb-86fe-e33ccec5c897.p

[2020-11-23 17:31] chakroun-anas-contentsquare commented on #85
Hello, glad that we can close this issue, you are more than welcome to  open another  new issue for what you just mentioned, thanks.

[2020-11-23 17:31] Chakroun-Anas commented on #85
Hello, glad that we can close this issue, you are more than welcome to open another new issue for what you just mentioned, thanks.

[2020-11-23 17:31] #85 closed

[2020-11-25 12:27] PeterLAxakon commented on #108
can confirm this, not working as expected in .ts files

[2020-11-25 15:02] Chakroun-Anas commented on #108
Hello guys,

I need you please to share with me the snippet of code where the extension is not inserting the log message in the right line, this will help me check if the fix is covering all cases (each different case will have its test scenario).

Thx in advance.

[2020-11-25 15:48] #35 closed

[2020-11-25 16:40] Chakroun-Anas commented on #108
I just pushed a version that should deal with this (2.1.4), but as i said above, i need you please to verify and share with me the snippet of code where the extension was not working properly so that we create test cases for each different scenario and make it more robust 😉, thx.

[2020-11-26 01:15] roojay520 commented on #109
@chakroun-anas-contentsquare  Hello, can I set the line number and file name separately? I want to remove the line number alone, because this line number cannot be updated automatically, so it is meaningless

[2020-11-26 06:36] weihomechen opened #110 "how to make it console in the next line"
![image](https://ifun.oss-cn-hangzhou.aliyuncs.com/tmp/WX20201126-143746.png)
my configuration  ：
![image](https://user-images.githubusercontent.com/16172317/100316420-70bf2480-2ff5-11eb-89de-d9787046a0bb.png)

[2020-11-26 12:55] MariuzM commented on #110
yep started having same issue with this new update....

[2020-11-26 14:48] Chakroun-Anas commented on #110
Hello @weihomechen , i just pushed a version that deal with the scenario that you shared, thank you so much for sharing and don't hesitate to share more problems in the futur so that we fix them and make the extension more robust 😉

[2020-11-26 14:54] WaqqarSuleman commented on #110
Hi @Chakroun-Anas , I updated to the latest version but the issue persists. Please look into it.

[2020-11-26 15:04] Chakroun-Anas commented on #110
Hello @WaqqarSuleman, the extension is now handling the shared scenario above:

<img width="570" alt="Screenshot 2020-11-26 at 16 02 56" src="https://user-images.githubusercontent.com/35881867/100366286-f4324300-3000-11eb-913c-3332af63d1e1.png">

Please share the exacte code snippet where it's not working properly for you, thanks.

[2020-11-26 15:12] WaqqarSuleman commented on #110
Please refer to the screenshot below:

![Screenshot from 2020-11-26 20-40-22](https://user-images.githubusercontent.com/74898820/100367144-c9a7b080-3027-11eb-9932-7aebae43d5fc.png)

[2020-11-26 16:07] chakroun-anas-contentsquare commented on #110
Hello @WaqqarSuleman, this is a different use case than the first one, here you are trying to insert a log message related to deconstructed property, i will come with a fix for this also and let know when it's published, thank you for you feedback.

[2020-11-26 16:07] Chakroun-Anas commented on #110
Hello @WaqqarSuleman, this is a different use case than the first one, here you are trying to insert a log message related to deconstructed property, i will come with a fix for this also and let know when it's published, thank you for you feedback.

[2020-11-27 14:21] Raju opened #111 "Can we separate the Include File name and Line Num?"
Can we have these 2 in separate setting instead of one, sometimes we just need file name or line and having it on separate setting will be a better choice for users to choose.
![image](https://user-images.githubusercontent.com/42042961/100457814-b577b800-30e8-11eb-9760-1e77a160b407.png)

And also, an option to add a custom delimiter instead of default ":" for the file and its file name, as in the

[2020-11-27 14:26] Raju commented on #109
Already requested in the [issue 111](https://github.com/Chakroun-Anas/turbo-console-log/issues/111)

[2020-11-27 14:30] Raju commented on #84
F1 > then type - open keyboard shortcuts > search for console log > and here you can set custom key binds for the console log, hope this helps.

[2020-11-27 14:46] Raju opened #112 "Can we in the future get option to wrap the console.log inside the console.group and console.groupEnd"
So, can we get option to wrap the console.log inside the console.group and console.groupEnd.

If "wrap console.log inside group and groupEnd" is false it fallback to console.log as a single console.
![image](https://user-images.githubusercontent.com/42042961/100460501-48b2ec80-30ed-11eb-893b-7b216ab388ae.png)

If "wrap console.log inside group and groupEnd" is true it fallback to add a console.log

[2020-11-27 20:40] itsalb3rt commented on #108
And simple js file. I press Crtl + Alt + L in line 82 `error` and the out put in 97 and 98 line. In another function.

![image](https://user-images.githubusercontent.com/35310226/100483364-15f9fb80-30cf-11eb-83da-9cf43290a13a.png)

[2020-12-02 17:29] aguscha333 commented on #110
Hi, I am on v2.1.5 and I am getting the following issue when commenting react native code:
<img width="780" alt="image" src="https://user-images.githubusercontent.com/9297073/100908813-b32baa00-34aa-11eb-8f7c-fbd1534eb235.png">
I am trying to log the params constant and when I hit ctrl+alt+l then it adds the log but after the next line of actual code

[2020-12-03 07:03] LawsonNguyen commented on #108
The same issue

[2020-12-03 07:09] LawsonNguyen commented on #108
Got into the situation with v2.1.0 . It works well with v2.0.4

[2020-12-03 07:33] PeterLAxakon commented on #108
@Chakroun-Anas I'm glad you are working on this, unfortunately this is still an issue in typescript.
![1 error](https://user-images.githubusercontent.com/61692826/100977488-58915d00-3541-11eb-9749-2bd4401e35d4.png)
in this function I want to console log the parameter, I'm using the Crtl + Alt + L
In the first example the console log is inserted under the function itself.

However if I start the fu

[2020-12-03 09:20] borishere commented on #110
Too many use cases are broken since last updates!

[2020-12-03 22:13] MariuzM commented on #110
Yep agree with @borishere issues for me also

[2020-12-03 22:24] chakroun-anas-contentsquare commented on #110
@aguscha333 Thank you for sharing,  at this stage a log message related to a deconstructed property is a known issue, see the two posts juste above your post.

@borishere @MariuzM Can you please share with me code snippets for each use case where the extension fails to deduce the right line code where the log message should be inserted ? without this i'm afraid that i couldn't do much for you :/

[2020-12-04 01:31] Chakroun-Anas commented on #110
@aguscha333 Thank you for sharing, at this stage a log message related to a deconstructed property is a known issue, see the two posts juste above your post.

@borishere @MariuzM Can you please share with me the code snippet for each use case where the extension fails to deduce the right line code for the log message to be inserted ? without this i'm afraid that i couldn't do much for you :/

[2020-12-06 16:33] Chakroun-Anas commented on #108
@PeterLAxakon I just pushed a version (v2.1.6) that deals with this, please test again and give me your feedback, thank you for making the extension better.

@itsalb3rt Unfortunately i need the whole context of the variable so that i can help you, anyway, hopefully that the last version (v2.1.6)  that i just pushed deals with your use case, if not please share with me the whole context of the vari

[2020-12-06 16:35] Chakroun-Anas commented on #110
@aguscha333 @WaqqarSuleman  I just pushed a version ((v2.1.6) ) that deals with what you shared, please test again and give me your feedback 😉

[2020-12-07 04:34] WaqqarSuleman commented on #110
@Chakroun-Anas it seems to be working fine atm. Thanks!

[2020-12-07 05:16] DexterLawson commented on #108
Confirm : It works
<img width="641" alt="Screen Shot 2020-12-07 at 12 14 15" src="https://user-images.githubusercontent.com/72881474/101312211-c44b3100-3885-11eb-805e-f73ece58fa67.png">

[2020-12-07 06:03] jrayga opened #114 "console.log jumping out on promise functions"
[code]

Coded in AngularJS 1.8.0.

So when I try to use TCL on this function the console.log jumps out on the promise.then statement,
Also when I tried to use TCL on the error variable in the promise.catch statement the console.log jumps outside the getUsers function,

Is this a problem with AngularJS or maybe some of my extensions intervene with TCL?

Extensions list

- bmewburn.vscode-intelephen

[2020-12-07 13:32] itsalb3rt commented on #108
In my case it has not been solved but I have discovered that if the functions have similar names (like the code that I will put below) the output of Crtl + Alt + L jumps to the other function.

[code]

![image](https://user-images.githubusercontent.com/35310226/101356612-b4742280-386e-11eb-8db4-d3d5ee9c7628.png)

[2020-12-08 02:30] moYxb opened #115 "Shift+Alt+D. cannot correctly delete everything printed by Ctrl+Alt+L."
console.log(`🚀 ~ data`, data);
It can be deleted normally.

console.log(`🚀 ~ this.data`, this.data);
This cannot be removed properly by Shift+Alt+D.

They're all output by Ctrl+Alt+L.

[2020-12-08 09:14] PeterLAxakon commented on #108
thank you, it now works with parameters.

[2020-12-08 11:18] PhiLhoSoft commented on #91
I don't see how it is related to Angular, TypeScript, and such.
Somehow, you want an option to get the stringified version of the variable instead of its full data.

[2020-12-08 11:19] PhiLhoSoft commented on #87
I came here to report this. We use tabs for indentation, but the inserted line is indented with spaces. Would be nicer to have tabs, as per editor settings.
Thanks.

[2020-12-08 11:21] PrashantSinghGour commented on #91
@PhiLhoSoft @Chakroun-Anas Please code this, it works fine.

[2020-12-10 02:15] Apawn1979 commented on #95
Hi,
I'm sorry for writing back not timely.
It works! Thank you!

[2020-12-10 18:08] glaucopater commented on #114
Same issue for me

[2020-12-12 16:56] Ivo-Evans opened #116 "[Feature request] Ability to also log typeof"
Hi, I'm a great fan of this extension! I use it almost every day. I think it would be really useful if there was a setting that caused ctrl+alt+L log the typeof, so .e.g ctrl+alt+L on `myVar` would create

[code]

[2020-12-15 12:05] APoint2020 opened #117 "Integrate into build script"
Can you add a feature so when building the extension would automatically comment all 'console.log' calls before it goes to production ?

[2021-01-07 17:04] flexbox commented on #95
Hey @Apawn1979
If your problem is solved can you please close the issue 😉

[2021-01-08 02:09] #95 closed

[2021-01-12 10:57] spoenemann opened #118 "Please add a LICENSE file"
The README says this project is under the [MIT license](https://opensource.org/licenses/MIT). The license text says

Please add the full text of the license to a LICENSE file and add an entry `"license": "MIT"` to the package.json.

[2021-01-14 20:39] ImanMahmoudinasab commented on #114
I have it as well.

[2021-01-19 11:43] ermarkar opened #119 "not able to log anything"
ON click of Ctrl + Alt + Del, it prints : (under the colon, a semi-colon) instead of logging the variable.

I have checked my keyboard binding as well.

Re installed and re  started the vs code as well.

any solution?

[2021-01-21 11:01] iamkabirmalik commented on #114
same for me

[2021-01-27 05:55] aaronkychan commented on #110
v2.1.6, still broken for me
![consolelogmisbehave](https://user-images.githubusercontent.com/7438968/105949151-975e1200-60af-11eb-8f09-6f71c91716bd.png)

[2021-01-28 10:58] chiragbytes commented on #37
Hello @alfianandinugraha, How to open that key bindings settings can you please inform me?

[2021-01-28 18:15] M0hammedImran commented on #37
CRTL + K S

[2021-02-08 13:21] Tinovillar opened #120 "it uncomment the code"
when i want to do console.log of an item, this it ok but the problem start when the item has a " " because not respect the another options to make to string for example: ` ` ' ' and if only use " ", this uncomment ours code.

https://gyazo.com/2dfde06999f3bdea61daa4718a7449ac

[2021-02-08 13:23] #120 closed

[2021-02-11 11:45] Abhishekbhard commented on #37
Thank you so much Your solution worked for me

[2021-02-15 12:03] phiter opened #121 "console.log statement being added to wrong line during array destructuring."
If I run the command on a object declaration variable, the console.log statement is added after closing the object.
But in this specific use case, if I pick the destructured variable of a call to a function that takes an array, the statement is being added to the wrong line:

![Peek 2021-02-15 08-59](https://user-images.githubusercontent.com/12252332/107944079-5d748300-6f6c-11eb-8688-e60ea341a6a5.

[2021-02-17 19:00] PaulMEdwards commented on #111
@Raju can you please put the delimiter request in a separate issue? I personally don't care about that, but definitely do want the line number option separate from file name so that the line number can be disabled for the reason you suggested.

[2021-02-17 19:07] PaulMEdwards commented on #11
This would be beneficial to us as we use a custom logger and want to use `logger.debug` instead of `console.log`.

[2021-02-19 06:22] HaiOliver commented on #119
same issue for me, u just need to change another key combination.It will work. For me, I changed Ctr + Shift + /

[2021-02-23 10:42] TheGooner93 opened #122 "Add the shortcut for Mac OS to enable log"
I would like to update the README to contain the Mac OS shortcut to add a log. Currently we only see something for Windows.

[2021-03-04 00:11] ImanMahmoudinasab commented on #119
Same thing for me, looks like an app is capturing the shortcut so that vs code doesn't receive the pressed keys. I changed the shortcut for now to alt + L and will try to find the app.

[2021-03-05 13:30] Matrosskin commented on #107
I also prefer using of different logging function, so that feature would be awesome.

[2021-03-11 02:40] mariomui-viscira opened #124 "Delete all turboed console log messages from every file"
Is there a way to remove the turboed console.log files globally?

[2021-03-24 13:43] sebj54 commented on #110
Hi @Chakroun-Anas, like the other users here, many use cases are broken since a previous update, especially for those like me who codes without semicolons

Since my codestyle breaks the "autodetect line to insert TCL" feature, I think a "force insert on next line" setting would be great.

Actually, TCL lines are more often on a wrong line than in the correct line. I often have to use Ctrl+F to fin

[2021-04-09 16:53] bartlewis opened #127 "Issue with multiline ternaries"
[code]

[2021-04-09 23:38] mariaedwards opened #128 "Feature request: logMessageSuffix"
Could you please add a new property logMessageSuffix and default it to `:`?
So when console.log is added it will be
[code]
instead of:
[code]

[2021-05-11 15:13] MaximeEvangeliste opened #130 "Clickable file:line_number output format!"
I don't know if there is currently a way to do this but I thought it would make it even more turbo.

Currently the format when I log something is this:
[code]

It would be awesome if the file + line number was displayed as this:
[code]

Since it's a standard you can just ctrl+click the file:line_number and it will take you directly to it!

[2021-05-13 13:42] jussaurabh opened #131 "Comment, Uncomment, Delete doesn't work - v2.1.6"
The log message is working fine but comment, uncomment and delete do not.

[2021-05-18 03:32] dungle-scrubs opened #132 "Delete doesn't delete comment wrapping"
If I create:

[code]

After `option + shift + d` I get:

[code]

[2021-05-25 05:56] RaviPi-Kore commented on #69
+1

[2021-05-29 11:07] axhamre commented on #110
I'm in a TypeScript project, without semi-colons. Downgrading the version to 1.4 solved it for me:

<img width="825" alt="image" src="https://user-images.githubusercontent.com/1907343/120067948-7bc74000-c07e-11eb-977e-35be22d24651.png">

<img width="754" alt="image" src="https://user-images.githubusercontent.com/1907343/120067984-afa26580-c07e-11eb-8a04-4c137219e45b.png">

[2021-06-09 08:59] lluisemper opened #134 "[Question] Does it work in Mac?"
I have used this extension in windows and ubuntu but I can not make it work in Mac: what is the command?

I have tried: crt+cmd+L

[2021-06-09 09:02] #134 closed

[2021-06-09 09:03] lluisemper commented on #134
crt+opt+l

[2021-06-11 21:02] demedos opened #135 "Wrong log position"
Hi,

it's been a while since TCL started placing the logs in the wrong position, sometimes even dozens of lines below the cursor.

Those are my vscode settings:
[code]

[2021-06-11 21:07] demedos opened #136 "Unwanted tilde after prefix"
Hi,

setting a specific `logMessagePrefix: "TCL:"` and `insertEnclosingClass: false` still outputs the tilde after the prefix.
When `insertEnclosingClass` is `false`, the expected output should be to have the tilde removed as well, since it's a divider between the class name and the function name.

Those are my vscode settings:
[code]

[2021-06-11 21:10] demedos opened #137 "Option to output Console.warn"
Hi,

it would be nice to have an option to add another keybinding to print console.warn instead of console.log.
This would be especially useful when working with React Native, since many times displaying the message on a screen warning is just quicker than checking the debugger.

Thanks!

[2021-06-11 21:18] demedos commented on #124
What do you mean? The library doesn't keep track of your logs, it's just a shorthand way to call the `console.log` function, like you would do manually.

If you have an open document then you could press `Cmd + Shift + D` to delete the messages, but that would work only for the file you're working on.

To delete them globally you could use just find and replace to bulk replace the `console.log.*$`

[2021-06-17 13:31] vaklinzi opened #138 "Display log message doesn't work in the latest VsCode 1.57"
I tested the plugin on two different OS-es: MacOs & Ubuntu but it doesn't work. I do not have a duplicated keyboard shortcut in VsCode.

![image](https://user-images.githubusercontent.com/16841490/122406380-7a0be080-cf89-11eb-8527-23474e17838c.png)

Ubuntu Shortcuts:
![image](https://user-images.githubusercontent.com/16841490/122406672-b17a8d00-cf89-11eb-81f9-a42aa33e0aab.png)

[2021-06-18 03:45] AbbyBounty commented on #138
Use option+Command+I for macOS

[2021-06-18 07:34] vaklinzi commented on #138
I would like to use it on Ubuntu, I tried setting the keybinding no another shortcut but still not working. Also tried older versions but without success.

[2021-06-23 16:43] jportella93 commented on #110
Is there any way to just print the log message on the next line? I rather get consistent behavior.

[2021-07-04 09:25] NNSTH commented on #131
Facing the same after upgrade, any idea of how to fix it? otherwise this extension might become not usable for me

[2021-07-07 09:47] AEsmerio commented on #135
I've same issue. I thought it would be because I don't use Semicolons, but that's the issue.

[2021-07-12 11:03] niktor76 commented on #131
Same here, would be great to have these functions.

[2021-07-22 08:30] 3ackdoor opened #139 "[Feature request] exclude extension from another language"
Hi, it would be nice to have an option to exclude extension from another language like java because I would like to use this keybind (ctrl + option + L) to do something else.

Thanks!

[2021-07-23 14:40] ShadowGamer3 commented on #107
Great idea! I've got a custom logging function that both logs to the console and to a log file, and the ability to call that function and log all that useful data like file, function, and line number so quickly would make this extension 10x more useful!  Sure, the default would be "console.log" but please give users the ability to set custom logging functions.

[2021-07-23 15:00] ShadowGamer3 commented on #137
#107 is an issue similar to this.  Both are great ideas though, and setting another keybind to a separate log function, whether that be console.warn or a custom function would be very helpful!

[2021-07-28 10:56] yonifra commented on #135
I experience this same behavior. Please fix, it sometimes adds the `console.log` in a very weird place, causing builds to fail later on since I didn't even know there was a console.log there...

[2021-08-20 07:46] gertjandemulder commented on #14
Would be useful 👍

[2021-08-21 13:04] 253eosam opened #143 "want postfix"
I wish I could put the last delimiter in the log message.

ex) console.log('[🐱 DDD] | file: index.js | line 10 | str **(HERE)**', str)

[2021-08-29 06:54] MariuzM opened #144 "[Feature request] - Customize the end message"
Could the end message be customized?

For example from
`console.log("🚀 ~ authAPI", authAPI);`

To:
`console.log("🚀 ~ authAPI -", authAPI);`

For me i just want to add ` -` to the end of the message.

[2021-08-31 04:32] thebhaskara commented on #135
Facing same issue... is there even a work around?

[2021-09-01 08:45] MiniMarker commented on #135
+1 Same issue here

[2021-09-10 20:43] pachiraDIG commented on #131
+ 1

[2021-10-06 11:45] SteffenEnz commented on #131
plus 1

[2021-10-12 10:28] GuetarniWalid opened #146 "An extra console.log"
With the last release (2.1.7) in VSCode, when i use the wrapped log message i have on extra consol.log().

Example:
[code]

There is  a solution to fix this probleme ?

[2021-10-14 06:02] shakil-shahan commented on #143
@Chakroun-Anas Please make it happen

[2021-11-05 12:01] devingfx opened #147 "[feature request] Update log messages"
Sometimes you move functions, write other stuffs or move code to another file during development, and so log, messages that are already there, contains wrong (old) line number or filename informations.

It could be useful to be able to update all messages from the file with 1 shortcut to get correct log messages without having to do it manually on each log messages.

[2021-11-10 18:31] brewster1134 opened #148 "properties typo in overview"
there is a typo in the docs that took me a while to figure out

`delimeterInsideMessage` should be `delimiterInsideMessage`

the actual property in code is spelled correctly.. this is just in the overview documentation

[2021-11-30 10:50] SliverYuki commented on #146
not resolve yet, I have to disabled the `Wrap log Message`, now it show single line, but no wrapper
![image](https://user-images.githubusercontent.com/19161689/144033806-2ee963d5-9cc6-49f8-91fd-d1af308d6ed7.png)

![image](https://user-images.githubusercontent.com/19161689/144033758-d3dac79b-9797-4e36-a191-46dfe503fdbb.png)

[2021-12-03 07:32] 9j opened #149 "Please consider publishing this extension on the OpenVSX marketplace"
Editors derived from VS Code such as Gitpod and VS Codium cannot access Microsoft's marketplace by policy, so [Open VSX](https://github.com/eclipse/openvsx/wiki/Publishing-Extensions) is being used as an alternative marketplace.

As a user of Gitpod, Hopefully, I want you to post an extension on open vsx.

Thank you.

[2021-12-03 08:39] akosyakov commented on #149
Hi, Gitpod committer is here 👋

Unfortunately MS prohibits usages of MS marketplace by any other products or redistribution vsix files from it. Because of it we kindly ask you to take the ownership of your namespace in OpenVSX and publish there as well.

OpenVSX is a vendor neutral alternative to MS marketplace used by all other derivatives of VS Code like [Gitpod](gitpod.io), [OpenVSCode](https:/

[2021-12-07 06:00] gsivaprabu commented on #35
In windows after the above change working fine

/C:/Users/**username**/AppData/Roaming/Code/User/keybindings.json

![image](https://user-images.githubusercontent.com/2444608/144974860-773d8405-4cda-4027-8829-464dad02ae5a.png)

[2021-12-09 03:15] heiway commented on #131
macOS Monterey
vscode arm64
v2.1.7

same issue

[2021-12-09 05:31] Aleksandern commented on #110
Since there is no fix for this issue I use the following extension https://github.com/shangZhengXie/vscode-console-helper

[2021-12-09 08:20] borishere commented on #110
Thanks for letting know the alternatives.
Really tired of this bug.

[2021-12-23 21:17] niktor76 commented on #131
Same here, commenting and deleting doesn't work.
Someone know an alternative extension?

[2022-01-06 18:32] ismaelgomesesilva commented on #70
Yes, firstly congratulation for this amazing plugin. I have the same problem in version 2.1.7. Windows. Visual Studio 1.63.1

[2022-01-08 05:44] guobin211 opened #150 "Feature: Support Clipboard Variables"
Please Support Feature:

1. Using variables on the clipboard, And write code at the position of the cursor

[2022-01-26 11:22] alandouglas96 commented on #70
Same here on Mac! Version 2.1.7. Visual Studio 1.63.2.

[2022-02-08 08:41] mnaglic7 opened #151 "Issue with comment and uncomment commands in .vue files"
You can generate console.log in vue files, but that is the only thing that is working.
Can't comment them all, uncomment or delete.

[2022-02-11 16:42] kb-ig commented on #44
What ever happened to this request? I can see that the PR had some activity - force push branch then closed PR - but it doesnt look like the functionality exists, and it's not mentioned in the readme 🤔

I'd love to be able to be able to use debug logs instead of regular logs.

[2022-02-19 15:58] ahmedyounes commented on #151
facing the same issue

[2022-02-28 07:36] AnglusWang commented on #115
I also encountered the same problem

[2022-03-09 15:05] NitinHsharma commented on #44
Hey just saw some activity so couldn't stop myself to redo the thing with updated code.
Please check #155 pull request for different types of log options.

[2022-03-18 07:37] jofftiquez commented on #137
Doesn't have to be a new keybind, as long as it's customizable.

[2022-03-18 07:50] jofftiquez commented on #137
Apparently there's a PR for this -> https://github.com/Chakroun-Anas/turbo-console-log/pull/155

[2022-03-18 07:51] jofftiquez commented on #69
Look -> https://github.com/Chakroun-Anas/turbo-console-log/pull/155

[2022-03-18 23:14] demedos commented on #137
Having different keybindings would allow us to use different console functions rather that only the one specified in the settings

[2022-03-19 03:34] jofftiquez commented on #137
I see, I understand. Altho that's a totally different (new) issue.

[2022-03-21 15:13] mikeysan opened #156 "Does this work for Python"
Hello,

I am watching a video by freecodecamp and your extension has been recommended as one of the top ten to check out. I admit I am still learning Python so my knowledge is a little limited at the moment. I cannot find any mention in your readme that talks about which languages your extension supports.

I can see from the screenshots that they are all JS or Typescript but that could just be wha

[2022-03-22 12:49] mwkcoding opened #157 "Request: configurable console log types"
It would be nice to able to change which console logging type it uses. Personally I use `console.debug()` instead of `console.log()`

[2022-03-22 12:51] mwkcoding commented on #157
Duplicate of #137 and PR #155

[2022-03-22 12:51] #157 closed

[2022-03-23 12:29] TangoPJ opened #159 "How can I use shortcuts on my MacOS machine?"

[2022-03-24 23:02] manuth opened #160 "Add an Open Source License to the Project"
Hello, Turbo Console Log Team
The current version of this extension currently doesn't have an opensource license (a `LICENSE`-file in the root of this repo).
Thus, this extension isn't able to be published to [Eclipse's Open Source Extension Marketplace ovsx](https://open-vsx.org/) on its own.

Websites like [Choose A License](https://choosealicense.com/) will help you making a decision.

Could yo

[2022-03-30 11:57] sarunmrzn commented on #159
Please add shortcuts to mac aswell

[2022-04-06 04:41] iAmHarmon opened #162 "Doesn't seem to work on Mac with M1 processor"
### System info:
**Processor:** M1
**OS:** MacOS Monterey 12.3.1

### VSCode Info
Version: 1.66.0
Commit: e18005f0f1b33c29e81d732535d8c0e47cafb0b5
Date: 2022-03-30T05:49:37.118Z (6 days ago)
Electron: 17.2.0
Chromium: 98.0.4758.109
Node.js: 16.13.0
V8: 9.8.177.11-electron.0
OS: Darwin arm64 21.4.0

### Problem
I am unable to generate console logs in Typescript React project. Unable to use keybindi

[2022-04-11 13:57] aalekhpatel07 commented on #156
I like the idea for there to be support for multiple languages.
If nobody has claimed it, I'd like to try giving the Python support a shot.

[2022-04-15 12:29] OrhanOzkercin commented on #162
I am facing the same problem

[2022-04-19 16:28] nvinayvarma189 commented on #156
I'm building one [here](https://github.com/nvinayvarma189/log-booster). It is very basic and misses a lot of features that turbo-console-log offers. I plan on adding them one by one.

[2022-04-20 07:36] Sakari369 commented on #54
+1 for this. Would be super useful to add the log points instead of a console.log message, this way I would not have to remove the line from the code manually.

[2022-04-22 20:19] ryanblock opened #163 "Is this repo maintained?"
I'm seeing quite a few unresolved issues and unmerged PRs, I'd like to propose a new feature but I'd like to understand if this repo is maintained. Thank you!

[2022-04-26 17:37] jhoose opened #164 "Have an option for console logs to be one-liners or two-liners (the variable being completely by itself in its own console.log) - not to be confused with wrapLogMessage option"
I've tried a lot of console.log extensions and yours is **the best so far!**

It would be **_really_** great if there was an option to break the variable name and the variable value into 2 separate console logs. Sometimes it's hard to read long console.logs due to long variable names and a feature like that would **_really_** help

For example have an option if you want your console logs to be one

[2022-05-06 09:28] Chakroun-Anas commented on #163
Hello, it has been a while, here i'm for ready for the service again ^^

[2022-05-06 09:28] #163 closed

[2022-05-11 17:41] mcfalld opened #166 "log for a function"
Maybe if using the shortcut with a function highlighted as opposed to a variable it could log that the function was called instead of using the function name as an optional parameter in the console.log.

![image](https://user-images.githubusercontent.com/32588824/167912808-92222e3c-9041-4112-9d3c-a4572d855620.png)
 something like the second line instead of the first line

[2022-05-14 15:18] amarch opened #167 "ctr-alt-l not working"
Just installed thsi extension in visual code running react code on a windows 11 machine. Instead of generating the console.log line it turns the selected parameter into the ø symbol.
Is there some setting to modify which I am not aware of?

[2022-05-18 09:40] ShrihariMohan commented on #37
![image](https://user-images.githubusercontent.com/60439461/169009313-5efc3cf8-ae61-4843-a332-4db7212d349e.png)
 Since all the commands are SHIFT + ALT combination , I just added SHIFT + ALT + L as command !

[2022-05-19 12:53] #167 closed

[2022-05-22 04:50] grigoryevandrey commented on #162
Same thing :(

[2022-05-27 09:17] Chakroun-Anas commented on #162
Hello guys,

I'm unable to reproduce the problem, can you please share with me a minimalistic repository where the problem occurs so that i debug and fix it ? Thx

[2022-05-27 09:24] Chakroun-Anas commented on #135
Hello guys,

Sorry about the inconveniences, the extension is not perfect, there is no magic solution to make sure that it will function perfectly in every use case, the only thing that we can do is to identify every edge case scenario, report it and fix it, i encourage you to share with the information about each scenario so that we deal with it (code snippet, configurations, etc), thx.

[2022-05-27 09:48] #81 closed

[2022-05-27 11:06] Chakroun-Anas commented on #137
Hello guys,

Sorry for my inactivity in the last couple of months, as they say better late than never, i just published version 2.2.0 that includes both `logType` & `logFunction` properties:

- logType: Same exact in [#155](https://github.com/Chakroun-Anas/turbo-console-log/pull/155)
- logFunction: A custom log function that can be specified by you

When logFunction is specified, logType is ignore

[2022-05-27 11:08] #107 closed

[2022-05-27 17:18] grigoryevandrey commented on #162
I'm sorry, i think i just used it incorrectly. Thank you for the response, issue can be closed i guess

[2022-05-28 16:51] #162 closed

[2022-05-28 17:39] Chakroun-Anas commented on #146
Hello guys, i just pushed a new version `v2.2.1` that fix this, can you please check and get back to me so that we can close this issue ? thx.

[2022-05-28 18:03] Chakroun-Anas commented on #159
The default shortcut to insert a log message is `ctrl + alt + L`, when it comes to MacBook the alt key transform to the option key, so the shortcut to use when on MacBook is `ctrl + option + L`.

[2022-05-28 18:03] #159 closed

[2022-05-28 18:34] Chakroun-Anas commented on #121
Hello,

Thank you for sharing this use case, i just pushed a fix `v2.3.1` can you please check it and get back to me so that we can close this issue? thx.

[2022-05-28 18:40] #122 closed

[2022-05-28 18:40] #124 closed

[2022-05-28 18:41] #119 closed

[2022-05-30 05:38] jofftiquez commented on #137
Thank you @Chakroun-Anas 🎊

[2022-05-31 14:54] demedos commented on #135
@Chakroun-Anas I've been using this extension for years and it's very good, no need to be sorry about anything.
The next time I face this issue I'll try to isolate it and report it back.

[2022-06-06 10:51] willster277 opened #169 "[feature request] file extension specific `logFunction`"
I use Svelte, which means writing `console.log(...)` in my component files will only ever log once per instance of the component. Which isnt ideal when you want to track your state.
Instead in svelte, you write `$: console.log(...)` which will log each time the state updates.

The issue is, I only want to write `$: console.log(...)` in `*.svelte` files, not in `.js` or `.ts` (or Vue/React files if

[2022-06-07 07:15] GuetarniWalid commented on #146
Thank you so much, it is all good.

[2022-06-07 07:15] #146 closed

[2022-06-07 07:19] SliverYuki commented on #146
Thanks, now it works perfect.

[2022-06-07 15:12] bsitruk commented on #17
Changing the quote to the one that prettier's using fixed the issue for me:
` "turboConsoleLog.quote": "'"`  in my case.

Maybe we could make the behavior more generic as it seems to rely on the quote style used.

[2022-06-10 10:10] jimrandell commented on #54
+1 indeed, I'm using log points more and more and would love to this this integrated.

[2022-06-10 10:27] jimrandell opened #170 "Different Keybindings for each console log type"
First, thank you, big fan of this, use it daily!!

it's great that we can set the prefs so that `ctrl + alt + L`, can return any log type (log, table, warn, etc), but I don't see a way to set keybindings for any type other than the one selected in the prefs.

so, unless I'm missing something and you can already do this, I would love to set one keybinding for `console.log` AND a different keybindin

[2022-06-14 07:13] liuning0406 commented on #115
This may be because configurations such as single and double quotation marks and semicolons at the end of lines are different from your own formatting configuration ；
![image](https://user-images.githubusercontent.com/74040803/173516022-dbd8de6c-00c3-4a5d-a812-336ee722b5a2.png)
![image](https://user-images.githubusercontent.com/74040803/173516077-5bdc3c4f-09fb-43d3-983b-a866fd5e93e9.png)
![image](

[2022-06-15 14:12] kbsali commented on #111
I also would like to only log filename but not line number (as this is way more likely to change than the filename)

(could be related to #147 & #130)

[2022-06-16 02:55] dhavalveera opened #171 "ctrl + alt + l for windows deleting the selected value"
Hello,

I found that your Turbo Console Log VS Code Extension is really helpful for debugging.

but I found that when I select a variable or something for the console.log and do `ctrl` + `alt` + `l` then it's deleting the selected variable or any other value for the console and the first time it shows the console.log but there's no selected value coming in console.log and also it's deleting the se

[2022-06-22 19:59] filiptronicek commented on #118
@Chakroun-Anas could you please consider this? It would be awesome if the extension could be then published to Open VSX (#149) to enable many more users to use to use the extension 🙏.

[2022-06-28 10:26] ColinRosati opened #172 "Styling log messages"
# Feature Request
I would love a feature to be able to pass styling down into the log messages! Is it possible? Would there be interest in this?

Example support the equivalent of this
[code]

[2022-07-12 12:50] RakeshPotnuru commented on #171
@dhavalveera
I'm also having the same issue. It has something to do with windows keyboard config. I just changed the key bindings for this extension (`CTRL` + `ALT` + `T`).

[2022-07-13 02:08] dhavalveera commented on #171
how you change the key binding for this extension? @RakeshPotnuru

[2022-07-13 02:11] #171 closed

[2022-07-13 05:45] RakeshPotnuru commented on #171
Preferences -> Keyboard shortcuts -> There you can search for the extension and change shortcut

[2022-08-03 09:05] nnrohu opened #173 "Stringify JSON log"
There should be an option to create a log code for this.

JSON.stringify(jsonData, null, 2)

[2022-08-18 22:25] RafaelGondi commented on #87
It would be really great to have the option to choose the ident type.

Thanks!

[2022-08-21 20:41] Chakroun-Anas commented on #10
Hello guys,

Finally arrow function support is here, it's not perfect but it's better than nothing at all, we will make it perfect with your feedback throughout the time ^^

Thx.

[2022-08-21 21:28] #76 closed

[2022-08-21 21:29] #69 closed

[2022-08-21 21:31] Chakroun-Anas commented on #121
Not relevant anymore.

[2022-08-21 21:31] #121 closed

[2022-08-21 22:55] Chakroun-Anas commented on #44
Done

[2022-08-21 22:55] #44 closed

[2022-08-21 23:33] Chakroun-Anas commented on #55
Not relevant anymore.

[2022-08-21 23:33] #55 closed

[2022-08-21 23:34] #137 closed

[2022-08-21 23:37] Chakroun-Anas commented on #46
Not relevant with the latest version `v2.5.1`

[2022-08-21 23:37] #46 closed

[2022-08-26 23:34] auleki commented on #70
Facing the same error as well and using the command palette does nothing as well. But I can add logs and comment them

[2022-09-08 07:20] AlanJereb opened #177 "Delete all console logs function doesn't delete wrapped logs"
#### Issue description
The wrapped console.log doesn't remove properly if using delete all console logs hotkey.

#### Steps to reproduce the issue

1.  In extension settings enable setting: Turbo Console Log: Wrap Log Message
2. Select part of your code and add console.log by pressing Ctrl + Alt + L

3. Delete all console.logs by pressing Shift + Alt + D

#### What's the expected result?
All conso

[2022-09-14 16:06] RobKohr opened #178 "add disable next line when eslint has no console setting"
Can you add a setting so that you can add a line before the console message to handle eslint issues.

We have no-console set in eslint, so I need to add this before any console messages
// eslint-disable-next-line no-console

Ideally the extension could read eslint settings and add this line, but I understand that would take a lot more effort. Having a setting that just allows you to add some text

[2022-09-22 09:01] DazDotOne commented on #138
Having the same issue on Windows using vscode v1.70.2 (just updated to 1.71.2), electron v19.0.12, and TCL v2.5.1.

Commands don't work (whether via keyboard shortcut or command pallet).

I'll keep it installed and check periodically though because it's a great plugin (when it works) and I feel naked now I don't have it.

logs from "keyboard shortcut troubleshooting":

[code]

output from terminal

[2022-09-22 09:51] tfreitas90 commented on #128
This would be nice....

[2022-09-26 19:57] besnikkorca commented on #143
Added a [PR](https://github.com/Chakroun-Anas/turbo-console-log/pull/179) for postfix.

[2022-09-27 07:08] besnikkorca commented on #128
Added [PR](https://github.com/Chakroun-Anas/turbo-console-log/pull/179) that should allow this @mariaedwards @tfreitas90

[2022-10-05 04:48] angelhdzmultimedia opened #180 "[BUG] Not working if there's no line break and other issues"
Hello, congratulations for this amazing extension.

I was blown away with this extension when someone recommended it (or an extension pack, can't remember).

I found 2 bugs so far.

**1.** If the line I want to create logs for doesn't have a line break in next line, I get a:
![image](https://user-images.githubusercontent.com/10191085/193981842-3757523f-acf5-43c1-9b87-bd4796cc2294.png)

And if ther

[2022-10-16 16:06] Chakroun-Anas commented on #180
Hello @angelhdzmultimedia,

Thank you for your kind words regarding my humble work i really appreciate it 👍

I just published a new version `v2.5.2` that deal with the first bug that you mentioned, can you please share with me  a code snippet that illustrates the second bug so that we can tackle it 😉 ?

Thank you again.

[2022-10-17 02:50] Jveen-D opened #182 "command 'turboConsoleLog.displayLogMessage' not found"
vscode  version: 1.72.2 (user setup)
`Ctrl`+`Alt`+`L` => 'command 'turboConsoleLog.displayLogMessage' not found'
![image](https://user-images.githubusercontent.com/46897216/196078908-af10097c-216a-4b87-abc0-268f69b36765.png)

[2022-10-17 02:55] ghun131 commented on #182
I get the same error message and tried the solutions here https://github.com/Chakroun-Anas/turbo-console-log/issues/35

[2022-10-17 02:57] roojay520 commented on #182
I have same err

[2022-10-17 03:00] ghun131 commented on #182
I revert my plugin back to `2.5.1` and things are back to normal

[2022-10-17 03:06] JJunYang commented on #182
I get same error

[2022-10-17 03:08] Jveen-D commented on #182
This is effective，tks.

[2022-10-17 03:12] Jveen-D commented on #182
This is effective，tks.

[2022-10-17 03:15] BindingOx commented on #182
how do you do this?

[2022-10-17 03:48] Jacobify commented on #35
![image](https://user-images.githubusercontent.com/39615077/196085132-e42144e0-2e0a-48c5-908b-71012b030a51.png)

Hi there, Right after updating the extension it stopped working , i tried everything above yet still it does not work.

[2022-10-17 04:01] huytranorient commented on #182
Thanks! :)

[2022-10-17 04:02] huytranorient commented on #182
@ghun131 , Thanks! :)

[2022-10-17 04:25] hungtd97 commented on #35
@Jacobify Same for me, looking for a solution

[2022-10-17 04:30] thisisirfan commented on #35
I have downgraded to make work, waiting for the patch fix

[2022-10-17 05:03] niravjadatiya commented on #35
facing same issue
![image](https://user-images.githubusercontent.com/25176031/196093320-186598bc-eeff-4e73-aeb1-50391e467751.png)
command 'turboConsoleLog.displayLogMessage' not found

[2022-10-17 05:05] harryHoangX commented on #35
command 'turboConsoleLog.displayLogMessage' not found

[2022-10-17 06:14] longld-0832 commented on #35
same here, after update new version "command 'turboConsoleLog.displayLogMessage' not found"

[2022-10-17 06:41] Aimer-Fan commented on #182
thanks, click here to install another version.
![image](https://user-images.githubusercontent.com/47803845/196106510-b36399b3-0dde-4874-96a3-34405eb4188a.png)

[2022-10-17 06:45] pankaj-yadav0507 commented on #182
Worked for me.

[2022-10-17 06:58] cola639 commented on #35
same here, after update new version "command 'turboConsoleLog.displayLogMessage' not found"

[2022-10-17 07:01] niravjadatiya commented on #35
I found workaround
![image](https://user-images.githubusercontent.com/25176031/196110025-ebd9a069-a51c-44d9-b60c-5c922e2036fc.png)

select 2.5.1 and then reload vscode
its working for me

[2022-10-17 07:13] michael-chan-mox commented on #182
Downgraded to `2.5.3` also worked for me.

[2022-10-17 07:14] michael-chan-mox commented on #182
Downgraded to `2.5.3` also worked for me.

[2022-10-17 09:32] mygitstyle commented on #182
+1

[2022-10-17 09:41] Chakroun-Anas commented on #182
Hello guys,

I just pushed a new version `v2.5.3` yesterday without manually testing ( should be automated by the way ), went to sleep than wakeup to this 😅

Anyway i just pushed a new version `v2.5.4` that fix all this miss, thank you to try and give me your feedback 🙂

[2022-10-18 22:33] Chakroun-Anas commented on #182
The main reason we got this problem is linked to trying bundling the extension using `esbuild` so that the final bundle is smaller leading to a faster download experience, this was a failure with `v2.5.3` but i think we got it right with `v2.5.5`,can you confirm that this is the case so that we can close this issue ? Thx 😁

[2022-10-19 01:44] #182 closed

[2022-10-19 13:15] cpecorari opened #183 "[feature] Changelog for VS Code"
Hi, thanks for this amazingly helpful extension for VS Code !

Since i installed it i've already had few updates, but unfortunately Changelog is not updated at release time, so that when VSCode asks for reload we can not have a quick look at the Changelog tab :
![Capture d’écran 2022-10-19 à 15 14 59](https://user-images.githubusercontent.com/56672657/196701328-32d48915-9a08-487e-8659-74538281c8

[2022-10-25 05:40] angelhdzmultimedia commented on #180
[code]

Clicking on email would result in:
[code]

[2022-11-02 18:59] jayad23 commented on #2
control + option + L

[2022-11-08 06:46] rattkin opened #184 "change the ` ~ line 17` part to `:17: so it can be accessed"
Please change the line format from
[code]
to something VSCode recognizes and can go to directly, like:
[code]
this string can be copied to clipboard and put into `ctrl+g` dialog

[2022-11-08 06:47] rattkin commented on #184
ok so it's done allready https://github.com/Chakroun-Anas/turbo-console-log/pull/140

Does it need more work?

[2022-11-16 10:00] Abeautifulsnow opened #185 "[BUG]Not working when I click `ctrl + option + L` key on my Mac"
Hi, thanks for this awesome tool in vs-code.

I recently found out that this tool barely works for me. I don't understand why `ctrl + option + L` shortcut doesn't work. No errors, no warnings and no key binding conflicts with shortcut keys of other vscode extensions.

Here is my version installed now.

![image](https://user-images.githubusercontent.com/28704977/202149261-664ad350-903b-4c5c-82a3-a3

[2022-11-18 12:24] alexvrv commented on #144
I would really love this feature. I was actually looking for it but I guess is not implemented yet...

[2022-11-21 20:12] StereoKiss commented on #144
i implemented it. You can see it here, but it isnt pullt: https://github.com/Chakroun-Anas/turbo-console-log/pull/186

[2022-11-29 13:09] Chakroun-Anas commented on #185
Can't reproduce, sorry.

[2022-11-29 13:17] Chakroun-Anas commented on #184
Integrated in version `2.6.1`, can you check and confirm please @rattkin ? Thx

[2022-11-29 13:35] #184 closed

[2022-11-29 13:35] rattkin commented on #184
works, thank you!

[2022-11-29 17:21] Chakroun-Anas commented on #148
Fixed, thx.

[2022-11-29 17:21] #148 closed

[2022-11-29 17:22] #135 closed

[2022-11-29 17:24] Chakroun-Anas commented on #130
Included starting from `v2.6.1`, see #184 , thx.

[2022-11-29 17:24] #130 closed

[2022-11-29 17:24] #136 closed

[2022-11-29 18:04] Chakroun-Anas commented on #114
Should be fixed in version `2.6.2` and  above, can you check again please @jrayga @glaucopater @iamkabirmalik @ImanMahmoudinasab  and give me your feedback ? Thx